
{% if cart.currency.iso_code == "CAD" %}
<div id="select_box" class="select_box">
  <h5>Buy More &amp; Save </h5>
  <ul class="radio-toolbar quantity_box">
    <li>
      <input class="single-option" data-price="16000" id="option-BMSM-2" type="radio" name="options[BMSM]"  value="48854188884161" quant="3"  data-id="10625728938177" data-variant-price="$160.00">
      <label for="option-BMSM-2">
        <div class="product_box_head"> 
            <strong class="box_right">BEST VALUE</strong>
          </div>
        <div class="product_box_wrp">
          <div class="product_box_img"> 
            <img src="https://cdn.shopify.com/s/files/1/0003/4580/0755/files/bmsm-meltdown-gel-ceramides6a.png?v=1761783604" alt="6 Months Supply">
          </div>
          <div class="product_box_pp"> 
            <p style=" ">
                <span class="productname">6 Months Supply</span>
                <span class="desc_price"><del>$227</del> $160 </span>
                <strong class="productprice_item"> $26.66 Each </strong>
                <span class="productprice_saving">You save $67</span>
              </p>
          </div>
        </div>
      </label>
    </li>
    <li>
      <input class="single-option" data-price="10400" id="option-BMSM-1" type="radio" name="options[BMSM]" checked value="48854188851393" quant="2" data-id="10625728938177" data-variant-price="$104.00">
      <label for="option-BMSM-1">
        <div class="product_box_head"> 
            <strong class="box_right">MOST POPULAR</strong>
          </div>
        <div class="product_box_wrp">
          <div class="product_box_img"> 
            <img src="https://cdn.shopify.com/s/files/1/0003/4580/0755/files/bmsm-meltdown-gel-ceramides3a.png?v=1761783604" alt="3 Months Supply">
          </div>
          <div class="product_box_pp"> 
            <p style=" margin: 0; ">
              <span class="productname">3 Months Supply</span>
              <span class="desc_price"><del>$114.00</del> $104  </span>
              <strong class="productprice_item"> $34.66 Each </strong> 
              <span class="productprice_saving">You save $10</span>
            </p>
          </div>
        </div>
      </label>
    </li>
    
    <li>
      <input class="single-option" data-price="4100" id="option-BMSM-0" type="radio" name="options[BMSM]"  value="47782736658625" data-id="7585387282625" data-variant-price="$41.00">
      <label for="option-BMSM-0">
        <div class="product_box_wrp">
          <div class="product_box_img"> 
            <img src="https://cdn.shopify.com/s/files/1/0003/4580/0755/files/bmsm-meltdown-gel-ceramides1a.png?v=1761783603" alt="30 Days Supply">
          </div>
          <div class="product_box_pp"> 
                <p style=" margin: 0; ">
              <span class="productname">30 Days Supply</span>
              <span class="desc_price">  $41.00</span>    
              <strong class="productprice_item"> $41.00 Each</strong> 
            </p>
          </div>
        </div>
      </label>
    </li>
  </ul>
</div>

{% comment %}<div class="gift-banner-container" id="gwpwrap">
    <div class="gift-banner-image">
        <img src="https://cdn.shopify.com/s/files/1/0003/4580/0755/files/2828143_2_50x.png?v=17345201232" alt="Free Gift">
    </div>
    <div class="gift-banner-text">
        FREE GIFT: Mini Travel Gel Cream ($16 value)
        <br>
        <span class="gift-banner-subtext">
            83% of Gel Cream customers reorder within a month - bundle & save on shipping and CO<sup>2</sup> emissions today! 
        </span>
    </div>
</div>{% endcomment %}
{% else %}  

<div id="select_box" class="select_box">
  <h5>Buy More &amp; Save </h5>
  <ul class="radio-toolbar quantity_box">
    <li>
      <input class="single-option" data-price="13200" id="option-BMSM-2" type="radio" name="options[BMSM]"  value="48854188884161" quant="3"  data-id="10625728938177" data-variant-price="$110.00">
      <label for="option-BMSM-2">
        <div class="product_box_head"> 
            <strong class="box_right">BEST VALUE</strong>
          </div>
        <div class="product_box_wrp">
          <div class="product_box_img"> 
            <img src="https://cdn.shopify.com/s/files/1/0003/4580/0755/files/bmsm-meltdown-gel-ceramides6a.png?v=1761783604" alt="6 Months Supply">
          </div>
          <div class="product_box_pp"> 
            <p style=" ">
                <span class="productname">6 Months Supply</span>
                <span class="desc_price"><del>$168</del> $110 </span>
                <strong class="productprice_item"> $18.33 Each </strong>
                <span class="productprice_saving">You save $58</span>
              </p>
          </div>
        </div>
      </label>
    </li>
    <li>
      <input class="single-option" data-price="6500" id="option-BMSM-1" type="radio" name="options[BMSM]" checked value="48854188851393" quant="2" data-id="10625728938177" data-variant-price="$71.00">
      <label for="option-BMSM-1">
        <div class="product_box_head"> 
            <strong class="box_right">MOST POPULAR</strong>
          </div>
        <div class="product_box_wrp">
          <div class="product_box_img"> 
            <img src="https://cdn.shopify.com/s/files/1/0003/4580/0755/files/bmsm-meltdown-gel-ceramides3a.png?v=1761783604" alt="3 Months Supply">
          </div>
          <div class="product_box_pp"> 
            <p style=" margin: 0; ">
              <span class="productname">3 Months Supply</span>
              <span class="desc_price"><del>$84</del> $78 </span>
              <strong class="productprice_item"> $26 Each </strong> 
              <span class="productprice_saving">You save $6</span>
            </p>
          </div>
        </div>
      </label>
    </li>
    
    <li>
      <input class="single-option" data-price="1820" id="option-BMSM-0" type="radio" name="options[BMSM]"  value="47782736658625" data-id="7585387282625" data-variant-price="$28.00">
      <label for="option-BMSM-0">
        <div class="product_box_wrp">
          <div class="product_box_img"> 
            <img src="https://cdn.shopify.com/s/files/1/0003/4580/0755/files/bmsm-meltdown-gel-ceramides1a.png?v=1761783603" alt="30 Days Supply">
          </div>
          <div class="product_box_pp"> 
                <p style=" margin: 0; ">
              <span class="productname">30 Days Supply</span>
              <span class="desc_price">  $28.00</span>    
              <strong class="productprice_item"> $28.00 Each</strong> 
            </p>
          </div>
        </div>
      </label>
    </li>
  </ul>
</div>
{% comment %}
<div class="gift-banner-container" id="gwpwrap">
    <div class="gift-banner-image">
        <img src="https://cdn.shopify.com/s/files/1/0003/4580/0755/files/2828143_2_50x.png?v=17345201232" alt="Free Gift">
    </div>
    <div class="gift-banner-text">
        FREE GIFT: Mini Travel Gel Cream ($12 value)
        <br>
        <span class="gift-banner-subtext">
            83% of Gel Cream customers reorder within a month - bundle & save on shipping and CO<sup>2</sup> emissions today! 
        </span>
    </div>
</div>
 {% endcomment %}
{% endif %}  

<style>
  .product_box_wrp { display: block ; flex-direction: row; align-items: center; }
  .product_box_pp p { text-align: center; margin: 0;  }
  .product_box_img  { width:100%; min-width: 90px; }
  ul.radio-toolbar.quantity_box {
    display: block; 
    max-width: 510px; 
}

  .radio-toolbar label {
    box-shadow: none !important
  }

  ul.radio-toolbar.quantity_box li:nth-of-type(3) {
    order: 1
  }

  ul.radio-toolbar.quantity_box li:nth-of-type(2) {
    order: 2
  }

  ul.radio-toolbar.quantity_box li:nth-of-type(1) {
    order: 3
  }

  .quantity_box label img {
    height: 90px;
    padding-top: 10px
  }

  .gr_product .product_desc ul {
    padding-left: 0
  }

  .gr_product .product_desc ul li {
    background: url(/cdn/shop/files/Group_203.png?v=1608653163) no-repeat 0 -5px;
    list-style: none;
    padding-left: 22px;
    background-size: 16px;
    margin-bottom: 8px;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 145%
  }

  .gr_product .product_desc p {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 145%;
    color: #000;
    margin-bottom: 15px
  }

  .gr_product .product_option_wrapper,
  .product__sticky .product_price_lg {
    display: none !important
  }

  .select_box h5 {
    font-weight: 700;
    margin-bottom: 0;
    margin-top: 10px;
    font-size: 15px;
    line-height: 145%;
    letter-spacing: 0
  }

  .select_box .quantity_box {
    list-style: none;
    padding: 0;
    display: block
  }

.select_box .quantity_box li {
    display: inline-block;
    width: calc(33% - 8px);
    position: relative;
    margin: 3px;
    text-align: center;
  position: relative;
}

  .select_box .quantity_box li:first-child {
    margin-left: 0
  }

  .select_box .quantity_box li:last-child {
    margin-right: 0
  }

  .radio-toolbar label {
    background: #ffffff;
    border-radius: 2px;
    border: 2px solid #f5d7d2;
    text-align: center;
    display: block;
    padding: 0 0 10px 0
  }

  .product_box_head {
    display: block;
    border-bottom: 1px solid #F8F8F8;
    padding: 5px;
    float: left;
    background: #001e42;
    color: #fff;
    font-size: 12px;
    position: absolute;
}

  .gr_product .box_left {
    text-transform: uppercase;
    font-size: 14px;
    line-height: 145%;
    color: #222;
    float: left
  }

  .gr_product .box_right {
    text-transform: uppercase;
    font-size: 10px;
    line-height: 145%;
    color: #222;
    float: right;
    padding-top: 3px
  }

  .radio-toolbar input[type=radio]:checked+label,
  .radio-toolbar li:hover label {
    border-radius: 2px;
    background: #001e42;
    display: block;
    box-sizing: border-box;
    border: 2px solid #001e42;
    color:#fff !important;
  }
 .radio-toolbar input[type=radio]:checked+label .productprice_item  , .radio-toolbar input[type=radio]:checked+label  .productname{color:#fff !important;}
  .radio-toolbar input[type=radio] {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 9;
    opacity: 0;
    cursor: pointer; left:0
  }

.radio-toolbar .productname {
    font-weight: 800;
    font-size: 18px;
    line-height: 145%;
    color: #222;
    display: block;
}
.desc_price {
    font-size: 13px;
    line-height: 1.4 !important;
    display: block;
    margin: 5px 0;
}
  .radio-toolbar .productprice_item {
    font-size: 16px;
    display: block;
    color: #000;
    line-height: 145%
  }

.radio-toolbar .productprice_saving {
    font-weight: 300;
    line-height: 105%;
    display: inline;
    padding: 4px 10px;
    font-size: 13px;
    background: #f2171a;
    color: #fff;
}
  .gr_product .gr_button button {
    height: auto;
    font-family: 'sofia-pro-bold', sans-serif;
    font-style: normal;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    letter-spacing: .5px;
    width: 100%;
    max-width: 100%;
    margin-bottom: 0
  }

  .gr_product .disclaimer-under-form span {
    font-weight: 500;
    font-size: 12px;
    align-items: center;
    letter-spacing: .01em;
    color: #000
  }

  .gr_product .price-item.price-item--regular {
    display: none
  }
.gift-banner-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    margin-bottom: -20px;
}

.gift-banner-image {
    display: block;
    position: relative;
    z-index: 2;
}

.gift-banner-text {
    display: block;
    position: absolute;
    background: #fbcdad;
    font-size: 16px;
    font-weight: 900;
    left: 30px;
    padding: 5px 10px 4px 30px;
    z-index: 1;
    color: #001e42;
    margin-right: 50px;
}

.gift-banner-subtext {
    font-weight: 400;
    font-size: 13px;
    display: block;
    line-height: 1.1 !important;
}
  @media (min-width:46.85em) {
    .product.gr_product {
      max-width: 1400px;
      grid-template-columns: 0.5fr .6fr
    }
  }

  @media (max-width:1057px) {
    .radio-toolbar .productname {
      font-size: 11px;
    }

    .product.gr_product {
      grid-template-columns: 0.4fr .6fr
    }

    .gr_product .product__content--information {
      max-width: 99%
    }

    .select_box .quantity_box li {
      width: calc(33% - 5px);
      margin: 1px
    }
    .product__description.px2 { padding-right: 10px !important; padding-left: 10px !important; }
    .product_box_img { width: 100%; min-width: 60px; }
    .quantity_box label img { height: 100px; padding-top: 10px; display: block; margin: 0 auto 10px; }
    .gift-banner-text { margin-right: 0px; }
    .gift-banner-text { font-size: 14px; }
    .product_box_head {  padding: 3px 9px 0px; background: #fbcdad; color: #001e42; font-size: 11px; position: absolute; }
  }

  @media (min-width:37.5em) {
    .product__description .btn {
      max-width: 490px !important
    }
  }

  .product__quantity,
  .size-selector.js-options {
    display: none !important
  }
</style>

{%comment %} aa {% endcomment %}
<script>

  setTimeout(function() {
    var submitCartButton = document.querySelector(".btn__dtact.btn__blue");
    if (submitCartButton) {
        var newElement = document.createElement('a');
        newElement.setAttribute('onclick', 'finalSBlam()');
        newElement.className = 'btn ml05 btn__blue bold';
        newElement.innerText = 'Add to Cart';
        submitCartButton.parentNode.replaceChild(newElement, submitCartButton);
    }
}, 3000);
window.onload = function() {
    document.querySelector(".amaatcbtn").outerHTML = '<a onclick="finalSBlam()" class="btn ml05 btn__blue bold" style="pointer-events: none;" {% if product.variants.first.available %} disabled>Out of Stock {% else %}  style="pointer-events:none" >Out of Stock  {% endif %} </button>';
    var elements = document.querySelectorAll(".product__quantity");
    elements.forEach(function(element) {
        element.style.display = "none"
    })
};
document.getElementById('select_box').addEventListener('change', function(event) {
    if (event.target.type === 'radio') {
        var selectedValue = event.target.value
    }
  console.log(event.target.value);
  {% comment %}
  if (event.target.value === "47782736658625") {
    document.getElementById("gwpwrap").style.display = "none";
    } else {
        document.getElementById("gwpwrap").style.display = "flex";
    }
    {% endcomment %}
});

function finalSBlam() {
    var selectedVariant = document.querySelector('input[name="options[BMSM]"]:checked');
    var id = selectedVariant.getAttribute('data-id');
    addVariantToCart(selectedVariant.value)
}

function addVariantToCart(variantId) {
    var xhr = new XMLHttpRequest();
    var data = {
        id: variantId,
        quantity: 1
    };
    xhr.open('POST', '/cart/add.js', !0);
    xhr.setRequestHeader('Content-Type', 'application/json');
    xhr.onreadystatechange = function() {
        if (xhr.readyState === 4) {
            if (xhr.status === 200) {
                var item = JSON.parse(xhr.responseText);
                console.log('Variant added to cart:', item)
            } else {
                var response = JSON.parse(xhr.responseText);
                console.log('Error:', response)
            }
        }
    };
    xhr.send(JSON.stringify(data))
}
  
  {% comment %}function addVariantToCart(variantId) {
        const cartAttributes = {
                'Pre-order': '{{ product.handle }}'
              }; 
      const lineItemProperties = {
        'pre-order': '{% if product.metafields.custom.pre_order_statement != blank %} {{ product.metafields.custom.pre_order_statement }}{% else %}True{% endif %}'
      }; 
    var xhr = new XMLHttpRequest();
    var data = {
        items: [
          {
            id: variantId,
            quantity: 1,
            properties: lineItemProperties
          }
        ],
        attributes: cartAttributes
      }; 
    xhr.open('POST', '/cart/add.js', !0);
    xhr.setRequestHeader('Content-Type', 'application/json');
    xhr.onreadystatechange = function() {
        if (xhr.readyState === 4) {
            if (xhr.status === 200) {
                var item = JSON.parse(xhr.responseText);
                console.log('Variant added to cart:', item)
            } else {
                var response = JSON.parse(xhr.responseText);
                console.log('Error:', response)
            }
        }
    };
    xhr.send(JSON.stringify(data))
} {% endcomment %}
  
</script>