 
{% comment %}<style>#BIS_trigger , .mt2.mb1 .btn , .backorder.pt1 {display:none !important;}
.product-form , .js-fix-add {display: none !important;}
</style>
<div>Only Mini Meltdown Oil 1/2 Oz is available</div>
<br> 
<button class="btn ml05 btn__blue bold" onclick="Rebuy.Cart.addItem({ id: 49026448163009, quantity: 1 })"  >ADD TO CART - {{ all_products["meltdown-acne-oil-1-2-oz"].variants.first.price | money }}</button>
{% endcomment %} 
{% if cart.currency.iso_code == "CAD" %}
<div id="select_box" class="select_box">
  <h5>Buy More &amp; Save </h5>
  <ul class="radio-toolbar quantity_box">
    <li>
      <input class="single-option" data-price="6500" id="option-BMSM-0" type="radio" name="options[BMSM]" value="47562837196993" data-id="7153156849857" data-variant-price="$65.00">
      <label for="option-BMSM-0">
        <div class="product_box_wrp">
          <div class="product_box_img">
            <img src="//cdn.shopify.com/s/files/1/0003/4580/0755/files/Meltdown_Acne_Oil1.png?v=1733753858" alt="images">
          </div>
          <div class="product_box_pp">
            <p style=" margin: 0; ">
              <span class="productname">30 Days Supply</span>
              <span class="desc_price">
                <del></del> $65.00 </span> 
            </p>
          </div>
        </div>
      </label>
    </li>
    <li>
      <input class="single-option" data-price="14400" id="option-BMSM-1" type="radio" name="options[BMSM]" checked value="48835765305537" quant="2" data-id="10620792078529" data-variant-price="$144.00">
      <label for="option-BMSM-1">
        <div class="product_box_head">
          <strong class="box_right">MOST POPULAR</strong>
        </div>
        <div class="product_box_wrp">
          <div class="product_box_img">
            <img src="https://cdn.shopify.com/s/files/1/0003/4580/0755/files/Meltdown_Acne_Oil3c.png?v=1765917236" alt=" images">
          </div>
          <div class="product_box_pp">
            <p style=" margin: 0; ">
              <span class="productname">3 Months Supply</span>
              <span class="desc_price">
                <del>$218</del> $139 </span>
              <strong class="productprice_item"> $46.33 Each </strong>
              <span class="productprice_saving">You save $79</span>
            </p>
          </div>
        </div>
      </label>
    </li>
    <li>
      <input class="single-option" data-price="26000" id="option-BMSM-2" type="radio" name="options[BMSM]" value="48835765338305" quant="3" data-id="10620792078529" data-variant-price="$240.00">
      <label for="option-BMSM-2">
        <div class="product_box_head">
          <strong class="box_right">BEST VALUE</strong>
        </div>
        <div class="product_box_wrp">
          <div class="product_box_img">
            <img src="https://cdn.shopify.com/s/files/1/0003/4580/0755/files/Meltdown_Acne_Oil6c.png?v=1765917236" alt="images">
          </div>
          <div class="product_box_pp">
            <p style=" ">
              <span class="productname">6 Months Supply</span>
              <span class="desc_price">
                <del>$436</del> $250  </span>
              <strong class="productprice_item"> $41.60 Each </strong>
              <span class="productprice_saving">You save $186</span>
            </p>
          </div>
        </div>
      </label>
    </li>
  </ul>
</div>
{% else %}  
<div id="select_box" class="select_box">
  <h5>Buy More &amp; Save </h5>
  <ul class="radio-toolbar quantity_box">
    <li>
      <input class="single-option" data-price="4700" id="option-BMSM-0" type="radio" name="options[BMSM]" value="47562837196993" data-id="7153156849857" data-variant-price="$47.00">
      <label for="option-BMSM-0">
        <div class="product_box_wrp">
          <div class="product_box_img">
            <img src="//cdn.shopify.com/s/files/1/0003/4580/0755/files/Meltdown_Acne_Oil1.png?v=1733753858" alt="images">
          </div>
          <div class="product_box_pp">
            <p style=" margin: 0; ">
              <span class="productname">30 Days Supply</span>
              <span class="desc_price">
                <del></del> $52 </span> 
            </p>
          </div>
        </div>
      </label>
    </li>
    <li>
      <input class="single-option" data-price="9900" id="option-BMSM-1" type="radio" name="options[BMSM]" checked value="48835765305537" quant="2" data-id="10620792078529" data-variant-price="$99.00">
      <label for="option-BMSM-1">
        <div class="product_box_head">
          <strong class="box_right">MOST POPULAR</strong>
        </div>
        <div class="product_box_wrp">
          <div class="product_box_img">
            <img src="https://cdn.shopify.com/s/files/1/0003/4580/0755/files/Meltdown_Acne_Oil3c.png?v=1765917236" alt=" images">
          </div>
          <div class="product_box_pp">
            <p style=" margin: 0; ">
              <span class="productname">3 Months Supply</span>
              <span class="desc_price">
                <del>$156</del> $99  </span>
              <strong class="productprice_item"> $33 Each </strong>
              <span class="productprice_saving">You save $57</span>
            </p>
          </div>
        </div>
      </label>
    </li>
    <li>
      <input class="single-option" data-price="17900" id="option-BMSM-2" type="radio" name="options[BMSM]" value="48835765338305" quant="3" data-id="10620792078529" data-variant-price="$179.00">
      <label for="option-BMSM-2">
        <div class="product_box_head">
          <strong class="box_right">BEST VALUE</strong>
        </div>
        <div class="product_box_wrp">
          <div class="product_box_img">
            <img src="https://cdn.shopify.com/s/files/1/0003/4580/0755/files/Meltdown_Acne_Oil6c.png?v=1765917236" alt="images">
          </div>
          <div class="product_box_pp">
            <p style=" ">
              <span class="productname">6 Months Supply</span>
              <span class="desc_price">
                <del>$312</del> $179 </span>
              <strong class="productprice_item"> $30 Each </strong>
              <span class="productprice_saving">You save $133</span>
            </p>
          </div>
        </div>
      </label>
    </li>
  </ul>
</div>
{% endif %}  

<button  onclick="finalSBlam()" class="  btn ml05 btn__blue bold  "  >ADD TO CART</button>
<style>#BIS_trigger , .mt2.mb1 .btn , .backorder.pt1 {display:none;} .product_box_wrp { display: flex ; flex-direction: row; align-items: center; } .product_box_pp p { text-align: left; margin: 0;  } .product_box_img  { width: 50%; min-width: 170px; } ul.radio-toolbar.quantity_box { display: flex; align-items: flex-end; max-width: 510px; justify-content: space-between; flex-direction: column; } .radio-toolbar label { box-shadow: none !important } ul.radio-toolbar.quantity_box li:nth-of-type(3) { order: 1 } ul.radio-toolbar.quantity_box li:nth-of-type(2) { order: 2 } ul.radio-toolbar.quantity_box li:nth-of-type(1) { order: 3 } .quantity_box label img { height: 150px; padding-top: 10px } .gr_product .product_desc ul { padding-left: 0 } .gr_product .product_desc ul li { background: url(/cdn/shop/files/Group_203.png?v=1608653163) no-repeat 0 -5px; list-style: none; padding-left: 22px; background-size: 16px; margin-bottom: 8px; font-style: normal; font-weight: 300; font-size: 14px; line-height: 145% } .gr_product .product_desc p { font-style: normal; font-weight: 500; font-size: 14px; line-height: 145%; color: #000; margin-bottom: 15px } .gr_product .product_option_wrapper, .product__sticky .product_price_lg { display: none !important } .select_box h5 { font-weight: 700; margin-bottom: 0; margin-top: 10px; font-size: 15px; line-height: 145%; letter-spacing: 0 } .select_box .quantity_box { list-style: none; padding: 0; display: block } .select_box .quantity_box li { display: inline-block; width: calc(100% - 10px); position: relative; margin: 5px } .select_box .quantity_box li:first-child { margin-left: 0 } .select_box .quantity_box li:last-child { margin-right: 0 } .radio-toolbar label { background: #ffffff; border-radius: 2px; border: 2px solid #f5d7d2; text-align: center; display: block; padding: 0 0 10px 0 } .product_box_head { display: block; border-bottom: 1px solid #F8F8F8; padding: 5px; float: left; background: #001e42; color: #fff; font-size: 12px; position: absolute; } .gr_product .box_left { text-transform: uppercase; font-size: 14px; line-height: 145%; color: #222; float: left } .gr_product .box_right { text-transform: uppercase; font-size: 10px; line-height: 145%; color: #222; float: right; padding-top: 3px } .radio-toolbar input[type=radio]:checked+label, .radio-toolbar li:hover label { border-radius: 2px; background: #f5d7d2; display: block; box-sizing: border-box; border: 2px solid #f5d7d2 color:#fff !important; } .radio-toolbar input[type=radio] { position: absolute; width: 100%; height: 100%; z-index: 9; opacity: 0; cursor: pointer } .radio-toolbar .productname { font-weight: 800; font-size: 18px; line-height: 145%; color: #222; display: block; } .desc_price { font-size: 13px; line-height: 1.4 !important; display: block; margin: 5px 0; } .radio-toolbar .productprice_item { font-size: 16px; display: block; color: #000; line-height: 145% } .radio-toolbar .productprice_saving { font-weight: 300; line-height: 145%; border: 1px solid; display: inline; padding: 4px 10px; font-size: 15px; color: #f2171a; } .gr_product .gr_button button { height: auto; font-family: 'sofia-pro-bold', sans-serif; font-style: normal; font-size: 18px; line-height: 28px; text-align: center; letter-spacing: .5px; width: 100%; max-width: 100%; margin-bottom: 0 } .gr_product .disclaimer-under-form span { font-weight: 500; font-size: 12px; align-items: center; letter-spacing: .01em; color: #000 } .gr_product .price-item.price-item--regular { display: none } @media (min-width:46.85em) { .product.gr_product { max-width: 1400px; grid-template-columns: 0.5fr .6fr } } @media (max-width:1057px) { .radio-toolbar .productname { font-size: 11px; } .product.gr_product { grid-template-columns: 0.4fr .6fr } .gr_product .product__content--information { max-width: 99% } .select_box .quantity_box li { width: calc(100% - 10px); margin: 3px } } @media (min-width:37.5em) { .product__description .btn { max-width: 490px !important } } .product__quantity, .size-selector.js-options { display: none !important } </style>
<script>
function finalSBlam() {
    var t = document.querySelector('input[name="options[BMSM]"]:checked');
    t.getAttribute("data-id"), addVariantToCart(t.value)
}

function addVariantToCart(variantId) {
     
    const cartData = {
      items: [
        {
          id: variantId,
          quantity: 1
        }
      ]
    }; 
    fetch('/cart/add.js', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(cartData)
    })
    .then(response => response.json())
    .then(data => {
      console.log('Item added to cart:', data); 
      //window.location.href = '/cart';
    })
    .catch(error => {
      console.error('Error adding item to cart:', error); 
    });
  }
setTimeout(function() {
    var t = document.querySelector(".js-submit-cart.btn__blue");
    if (t) {
        var e = document.createElement("a");
        e.setAttribute("onclick", "finalSBlam()"), e.className = "btn btn_dynctabt ml05 btn__blue bold", e.innerText = "Add to Cart", t.parentNode.replaceChild(e, t)
    }
}, 3e3), window.onload = function() {
    document.querySelector(".js-submit-cart").outerHTML = '<a onclick="finalSBlam()" class="btn ml05 btn__blue bold" {% if product.variants.first.available %}>Add to Cart {% else %}  style="pointer-events:none" >Out of Stock  {% endif %}</button>', document.querySelectorAll(".product__quantity").forEach(function(t) {
        t.style.display = "none"
    })
}, document.getElementById("select_box").addEventListener("change", function(t) {
    "radio" === t.target.type && t.target.value
});
</script>

 {% comment %}
<style>
.custom-shipping-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f8f8f8;
    border-radius: 10px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
    padding: 10px 20px;
    margin: 20px 10px 0;
    max-width: 490px;
}

.custom-shipping-item {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  gap: 15px;
}

.custom-shipping-icon {
  width: 25px;
  stroke-width: 1.5;
  stroke: #1c1c1c;
  fill: none;
}

.custom-shipping-text {
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

.custom-shipping-arrow {
  width: 35px;
  stroke-width: 1;
  stroke: #1c1c1c;
  fill: none;
}

#order-timer {
  font-size: 15px;
  font-weight: bold;
  margin-top: -5px;
}

#shipping-date {
  font-size: 15px;
  font-weight: bold;
  color: #1c1c1c;
  margin-top: -5px;
}
</style>


<section class="custom-shipping-container">
  <div class="custom-shipping-item">
    <div class="custom-shipping-icon">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
      </svg>
    </div>
    <div class="custom-shipping-text">
      <span>
Order within
</span>
 <span id="order-timer"></span>
    </div>
  </div>
  
  <div class="custom-shipping-arrow">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
      <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3" />
    </svg>
  </div>
  
  <div class="custom-shipping-item">
    <div class="custom-shipping-icon">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5m-9-6h.008v.008H12v-.008ZM12 15h.008v.008H12V15Zm0 2.25h.008v.008H12v-.008ZM9.75 15h.008v.008H9.75V15Zm0 2.25h.008v.008H9.75v-.008ZM7.5 15h.008v.008H7.5V15Zm0 2.25h.008v.008H7.5v-.008Zm6.75-4.5h.008v.008h-.008v-.008Zm0 2.25h.008v.008h-.008V15Zm0 2.25h.008v.008h-.008v-.008Zm2.25-4.5h.008v.008H16.5v-.008Zm0 2.25h.008v.008H16.5V15Z" />
      </svg>
    </div>
    <div class="custom-shipping-text">
      <span>
Ships in
</span>
 <span id="shipping-date">5 Days</span>
    </div>
  </div>
</section>

<div class="cpl_reviews-container">
  <div class="avatars">
    <img
      src="https://d44nbjjo4iet8.cloudfront.net/0s76up7725axvrzb1kvca9yml5jf"
      alt="Customer 1"
      class="avatar"
    />
    <img
      src="https://d44nbjjo4iet8.cloudfront.net/k0dbe21nmn3n1h1a7ghvypq5vuqm"
      alt="Customer 2"
      class="avatar"
    />
    <img
      src="https://d44nbjjo4iet8.cloudfront.net/tpzkaf5amwrn64e023cx2c3nbnyh"
      alt="Customer 3"
      class="avatar"
    />
  </div>
  <span class="text-grey">
rated <strong>4.5/5</strong> based on <strong>+4800 Reviews</strong>
</span>
</div>

<style>
  .cpl_reviews-container {
    display: flex;
    align-items: center;
    margin: 20px 0 0;
    justify-content: center;
    transform: scale(1.6);
}

  .avatars {
    display: flex;
    margin-right: 5px;
margin-left: 7px;
  }

  .avatar {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 2px solid white;
    margin-left: -7px;
    object-fit: cover;
  }

  .text-grey {
    font-weight: normal;
    font-size: 10px;
    color: #868686;
  line-height: 0px;

  }

  .text-grey strong {
    font-weight: 800; 
    color: #001e42
  }

</style> 
<script>
document.addEventListener("DOMContentLoaded", function() {
    // Countdown timer until midnight
    function updateTimer() {
        var now = new Date();
        var midnight = new Date();
        midnight.setHours(24, 0, 0, 0); // Set time to midnight
        var diff = midnight - now; // Difference in milliseconds

        var hours = Math.floor(diff / (1000 * 60 * 60));
        var minutes = Math.floor((diff % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((diff % (1000 * 60)) / 1000);

        document.getElementById("order-timer").textContent =
            ("0" + hours).slice(-2) + " : " +
            ("0" + minutes).slice(-2) + " : " +
            ("0" + seconds).slice(-2);
    }

    setInterval(updateTimer, 1000);

    // Shipping date
    var daysAfterToday = 16;
    var today = new Date();
    var shipDate = new Date(today.setDate(today.getDate() + daysAfterToday));
  var options = { weekday: 'long' };
    var formattedShipDate = shipDate.toLocaleDateString('en-US', options);
    //document.getElementById('shipping-date').textContent = formattedShipDate;
});
</script>{% endcomment %}

{% comment %}
<style> .product_box_wrp { display: flex ; flex-direction: row; align-items: center; } .product_box_pp p { text-align: left; margin: 0;  } .product_box_img  { width: 50%; min-width: 170px; } ul.radio-toolbar.quantity_box { display: flex; align-items: flex-end; max-width: 510px; justify-content: space-between; flex-direction: column; } .radio-toolbar label { box-shadow: none !important } ul.radio-toolbar.quantity_box li:nth-of-type(3) { order: 1 } ul.radio-toolbar.quantity_box li:nth-of-type(2) { order: 2 } ul.radio-toolbar.quantity_box li:nth-of-type(1) { order: 3 } .quantity_box label img { height: 150px; padding-top: 10px } .gr_product .product_desc ul { padding-left: 0 } .gr_product .product_desc ul li { background: url(/cdn/shop/files/Group_203.png?v=1608653163) no-repeat 0 -5px; list-style: none; padding-left: 22px; background-size: 16px; margin-bottom: 8px; font-style: normal; font-weight: 300; font-size: 14px; line-height: 145% } .gr_product .product_desc p { font-style: normal; font-weight: 500; font-size: 14px; line-height: 145%; color: #000; margin-bottom: 15px } .gr_product .product_option_wrapper, .product__sticky .product_price_lg { display: none !important } .select_box h5 { font-weight: 700; margin-bottom: 0; margin-top: 10px; font-size: 15px; line-height: 145%; letter-spacing: 0 } .select_box .quantity_box { list-style: none; padding: 0; display: block } .select_box .quantity_box li { display: inline-block; width: calc(100% - 10px); position: relative; margin: 5px } .select_box .quantity_box li:first-child { margin-left: 0 } .select_box .quantity_box li:last-child { margin-right: 0 } .radio-toolbar label { background: #ffffff; border-radius: 2px; border: 2px solid #f5d7d2; text-align: center; display: block; padding: 0 0 10px 0 } .product_box_head { display: block; border-bottom: 1px solid #F8F8F8; padding: 5px; float: left; background: #001e42; color: #fff; font-size: 12px; position: absolute; } .gr_product .box_left { text-transform: uppercase; font-size: 14px; line-height: 145%; color: #222; float: left } .gr_product .box_right { text-transform: uppercase; font-size: 10px; line-height: 145%; color: #222; float: right; padding-top: 3px } .radio-toolbar input[type=radio]:checked+label, .radio-toolbar li:hover label { border-radius: 2px; background: #f5d7d2; display: block; box-sizing: border-box; border: 2px solid #f5d7d2 color:#fff !important; } .radio-toolbar input[type=radio] { position: absolute; width: 100%; height: 100%; z-index: 9; opacity: 0; cursor: pointer } .radio-toolbar .productname { font-weight: 800; font-size: 18px; line-height: 145%; color: #222; display: block; } .desc_price { font-size: 13px; line-height: 1.4 !important; display: block; margin: 5px 0; } .radio-toolbar .productprice_item { font-size: 16px; display: block; color: #000; line-height: 145% } .radio-toolbar .productprice_saving { font-weight: 300; line-height: 145%; border: 1px solid; display: inline; padding: 4px 10px; font-size: 15px; color: #f2171a; } .gr_product .gr_button button { height: auto; font-family: 'sofia-pro-bold', sans-serif; font-style: normal; font-size: 18px; line-height: 28px; text-align: center; letter-spacing: .5px; width: 100%; max-width: 100%; margin-bottom: 0 } .gr_product .disclaimer-under-form span { font-weight: 500; font-size: 12px; align-items: center; letter-spacing: .01em; color: #000 } .gr_product .price-item.price-item--regular { display: none } @media (min-width:46.85em) { .product.gr_product { max-width: 1400px; grid-template-columns: 0.5fr .6fr } } @media (max-width:1057px) { .radio-toolbar .productname { font-size: 11px; } .product.gr_product { grid-template-columns: 0.4fr .6fr } .gr_product .product__content--information { max-width: 99% } .select_box .quantity_box li { width: calc(100% - 10px); margin: 3px } } @media (min-width:37.5em) { .product__description .btn { max-width: 490px !important } } .product__quantity, .size-selector.js-options { display: none !important } </style>
<script>
function finalSBlam(){var t=document.querySelector('input[name="options[BMSM]"]:checked');t.getAttribute("data-id"),addVariantToCart(t.value)}function addVariantToCart(t){var e=new XMLHttpRequest;e.open("POST","/cart/add.js",!0),e.setRequestHeader("Content-Type","application/json"),e.onreadystatechange=function(){if(4===e.readyState){if(200===e.status){var t=JSON.parse(e.responseText);console.log("Variant added to cart:",t)}else{var a=JSON.parse(e.responseText);console.log("Error:",a)}}},e.send(JSON.stringify({id:t,quantity:1}))}setTimeout(function(){var t=document.querySelector(".js-submit-cart.btn__blue");if(t){var e=document.createElement("a");e.setAttribute("onclick","finalSBlam()"),e.className="btn ml05 btn__blue bold",e.innerText="Add to Cart",t.parentNode.replaceChild(e,t)}},3e3),window.onload=function(){document.querySelector(".js-submit-cart").outerHTML='<a onclick="finalSBlam()" class="btn ml05 btn__blue bold" {% if product.variants.first.available %}>Add to Cart {% else %}  style="pointer-events:none" >Out of Stock  {% endif %}</button>',document.querySelectorAll(".product__quantity").forEach(function(t){t.style.display="none"})},document.getElementById("select_box").addEventListener("change",function(t){"radio"===t.target.type&&t.target.value});
</script>
 {% endcomment %}

{% comment %}  ADDING BELOW HALF OZ OPTIONS UNTIL WE ARE BACK IN STOCK 30 MAY 2025{% endcomment %}
 {% comment %}
<style>.backorder.pt1 { display:none !important; }</style>
{% if cart.currency.iso_code == "CAD" %}
<div id="select_box" class="select_box">
  <h5>Buy More &amp; Save </h5>
  <ul class="radio-toolbar quantity_box">
    <li>
      <input class="single-option" data-price="7200" id="option-BMSM-0" type="radio" name="options[BMSM]" value="49313389445313" data-id="10743568072897" data-variant-price="$72.00">
      <label for="option-BMSM-0">
        <div class="product_box_wrp">
          <div class="product_box_img">
            <img src="https://cdn.shopify.com/s/files/1/0003/4580/0755/files/mini-meltdown-oil-2.png?v=1748650546" alt="images">
          </div>
          <div class="product_box_pp">
            <p style=" margin: 0; ">
              <span class="productname">30 Days Supply</span>
              <span class="desc_price">
                <del>$80</del> $72.00 </span>
              <strong class="productprice_item"> $36.00 Each</strong>
              <span class="productprice_saving">You save $8</span>
            </p>
          </div>
        </div>
      </label>
    </li>
    <li>
      <input class="single-option" data-price="1020" id="option-BMSM-1" type="radio" name="options[BMSM]" checked value="49313389478081" quant="2" data-id="10743568072897" data-variant-price="$102">
      <label for="option-BMSM-1">
        <div class="product_box_head">
          <strong class="box_right">MOST POPULAR</strong>
        </div>
        <div class="product_box_wrp">
          <div class="product_box_img">
            <img src="https://cdn.shopify.com/s/files/1/0003/4580/0755/files/mini-meltdown-oil-3b.png?v=1748650546" alt=" images">
          </div>
          <div class="product_box_pp">
            <p style=" margin: 0; ">
              <span class="productname">2 Months Supply</span>
              <span class="desc_price">
                <del>$120</del> $102 </span>
              <strong class="productprice_item"> $34 Each </strong>
              <span class="productprice_saving">You save $18</span>
            </p>
          </div>
        </div>
      </label>
    </li>
    <li>
      <input class="single-option" data-price="17000" id="option-BMSM-2" type="radio" name="options[BMSM]" value="49313389510849" quant="3" data-id="10743568072897" data-variant-price="$170.00">
      <label for="option-BMSM-2">
        <div class="product_box_head">
          <strong class="box_right">BEST VALUE</strong>
        </div>
        <div class="product_box_wrp">
          <div class="product_box_img">
            <img src="https://cdn.shopify.com/s/files/1/0003/4580/0755/files/mini-meltdown-oil-6b.png?v=1748650546" alt="images">
          </div>
          <div class="product_box_pp">
            <p style=" ">
              <span class="productname">6 Months Supply</span>
              <span class="desc_price">
                <del>$240</del> $170 </span>
              <strong class="productprice_item"> $28 Each </strong>
              <span class="productprice_saving">You save $70</span>
            </p>
          </div>
        </div>
      </label>
    </li>
  </ul>
</div>
{% else %}  
<div id="select_box" class="select_box">
  <h5>Buy More &amp; Save </h5>
  <ul class="radio-toolbar quantity_box">
    <li>
      <input class="single-option" data-price="5400" id="option-BMSM-0" type="radio" name="options[BMSM]" value="49313389445313" data-id="10743568072897" data-variant-price="$54.00">
      <label for="option-BMSM-0">
        <div class="product_box_wrp">
          <div class="product_box_img">
            <img src="https://cdn.shopify.com/s/files/1/0003/4580/0755/files/mini-meltdown-oil-2.png?v=1748650546" alt="images">
          </div>
          <div class="product_box_pp">
            <p style=" margin: 0; ">
              <span class="productname">30 Days Supply</span>
              <span class="desc_price">
                <del>$59</del> $54.00 </span>
              <strong class="productprice_item"> $27.00 Each</strong>
              <span class="productprice_saving">You save $5</span>
            </p>
          </div>
        </div>
      </label>
    </li>
    <li>
      <input class="single-option" data-price="7650" id="option-BMSM-1" type="radio" name="options[BMSM]" checked value="49313389478081" quant="2" data-id="10743568072897" data-variant-price="$76.50">
      <label for="option-BMSM-1">
        <div class="product_box_head">
          <strong class="box_right">MOST POPULAR</strong>
        </div>
        <div class="product_box_wrp">
          <div class="product_box_img">
            <img src="https://cdn.shopify.com/s/files/1/0003/4580/0755/files/mini-meltdown-oil-3b.png?v=1748650546" alt=" images">
          </div>
          <div class="product_box_pp">
            <p style=" margin: 0; ">
              <span class="productname">2 Months Supply</span>
              <span class="desc_price">
                <del>$88.50</del> $76.50  </span>
              <strong class="productprice_item"> $25.50 Each </strong>
              <span class="productprice_saving">You save $12</span>
            </p>
          </div>
        </div>
      </label>
    </li>
    <li>
      <input class="single-option" data-price="12600" id="option-BMSM-2" type="radio" name="options[BMSM]" value="49313389510849" quant="3" data-id="10743568072897" data-variant-price="$126.00">
      <label for="option-BMSM-2">
        <div class="product_box_head">
          <strong class="box_right">BEST VALUE</strong>
        </div>
        <div class="product_box_wrp">
          <div class="product_box_img">
            <img src="https://cdn.shopify.com/s/files/1/0003/4580/0755/files/mini-meltdown-oil-6b.png?v=1748650546" alt="images">
          </div>
          <div class="product_box_pp">
            <p style=" ">
              <span class="productname">6 Months Supply</span>
              <span class="desc_price">
                <del>$177</del> $126  </span>
              <strong class="productprice_item"> $21 Each </strong>
              <span class="productprice_saving">You save $51</span>
            </p>
          </div>
        </div>
      </label>
    </li>
  </ul>
</div>
 
{% endif %}  
<button  onclick="finalSBlam()" class="  btn ml05 btn__blue bold  "  >ADD TO CART</button>
<style>#BIS_trigger , .mt2.mb1 .btn  {display:none;} .product_box_wrp { display: flex ; flex-direction: row; align-items: center; } .product_box_pp p { text-align: left; margin: 0;  } .product_box_img  { width: 50%; min-width: 170px; } ul.radio-toolbar.quantity_box { display: flex; align-items: flex-end; max-width: 510px; justify-content: space-between; flex-direction: column; } .radio-toolbar label { box-shadow: none !important } ul.radio-toolbar.quantity_box li:nth-of-type(3) { order: 1 } ul.radio-toolbar.quantity_box li:nth-of-type(2) { order: 2 } ul.radio-toolbar.quantity_box li:nth-of-type(1) { order: 3 } .quantity_box label img { height: 150px; padding-top: 10px } .gr_product .product_desc ul { padding-left: 0 } .gr_product .product_desc ul li { background: url(/cdn/shop/files/Group_203.png?v=1608653163) no-repeat 0 -5px; list-style: none; padding-left: 22px; background-size: 16px; margin-bottom: 8px; font-style: normal; font-weight: 300; font-size: 14px; line-height: 145% } .gr_product .product_desc p { font-style: normal; font-weight: 500; font-size: 14px; line-height: 145%; color: #000; margin-bottom: 15px } .gr_product .product_option_wrapper, .product__sticky .product_price_lg { display: none !important } .select_box h5 { font-weight: 700; margin-bottom: 0; margin-top: 10px; font-size: 15px; line-height: 145%; letter-spacing: 0 } .select_box .quantity_box { list-style: none; padding: 0; display: block } .select_box .quantity_box li { display: inline-block; width: calc(100% - 10px); position: relative; margin: 5px } .select_box .quantity_box li:first-child { margin-left: 0 } .select_box .quantity_box li:last-child { margin-right: 0 } .radio-toolbar label { background: #ffffff; border-radius: 2px; border: 2px solid #f5d7d2; text-align: center; display: block; padding: 0 0 10px 0 } .product_box_head { display: block; border-bottom: 1px solid #F8F8F8; padding: 5px; float: left; background: #001e42; color: #fff; font-size: 12px; position: absolute; } .gr_product .box_left { text-transform: uppercase; font-size: 14px; line-height: 145%; color: #222; float: left } .gr_product .box_right { text-transform: uppercase; font-size: 10px; line-height: 145%; color: #222; float: right; padding-top: 3px } .radio-toolbar input[type=radio]:checked+label, .radio-toolbar li:hover label { border-radius: 2px; background: #f5d7d2; display: block; box-sizing: border-box; border: 2px solid #f5d7d2 color:#fff !important; } .radio-toolbar input[type=radio] { position: absolute; width: 100%; height: 100%; z-index: 9; opacity: 0; cursor: pointer } .radio-toolbar .productname { font-weight: 800; font-size: 18px; line-height: 145%; color: #222; display: block; } .desc_price { font-size: 13px; line-height: 1.4 !important; display: block; margin: 5px 0; } .radio-toolbar .productprice_item { font-size: 16px; display: block; color: #000; line-height: 145% } .radio-toolbar .productprice_saving { font-weight: 300; line-height: 145%; border: 1px solid; display: inline; padding: 4px 10px; font-size: 15px; color: #f2171a; } .gr_product .gr_button button { height: auto; font-family: 'sofia-pro-bold', sans-serif; font-style: normal; font-size: 18px; line-height: 28px; text-align: center; letter-spacing: .5px; width: 100%; max-width: 100%; margin-bottom: 0 } .gr_product .disclaimer-under-form span { font-weight: 500; font-size: 12px; align-items: center; letter-spacing: .01em; color: #000 } .gr_product .price-item.price-item--regular { display: none } @media (min-width:46.85em) { .product.gr_product { max-width: 1400px; grid-template-columns: 0.5fr .6fr } } @media (max-width:1057px) { .radio-toolbar .productname { font-size: 11px; } .product.gr_product { grid-template-columns: 0.4fr .6fr } .gr_product .product__content--information { max-width: 99% } .select_box .quantity_box li { width: calc(100% - 10px); margin: 3px } } @media (min-width:37.5em) { .product__description .btn { max-width: 490px !important } } .product__quantity, .size-selector.js-options { display: none !important } </style>
<script>
function finalSBlam(){var t=document.querySelector('input[name="options[BMSM]"]:checked');t.getAttribute("data-id"),addVariantToCart(t.value)}function addVariantToCart(t){var e=new XMLHttpRequest;e.open("POST","/cart/add.js",!0),e.setRequestHeader("Content-Type","application/json"),e.onreadystatechange=function(){if(4===e.readyState){if(200===e.status){var t=JSON.parse(e.responseText);console.log("Variant added to cart:",t)}else{var a=JSON.parse(e.responseText);console.log("Error:",a)}}},e.send(JSON.stringify({id:t,quantity:1}))}setTimeout(function(){var t=document.querySelector(".js-submit-cart.btn__blue");if(t){var e=document.createElement("a");e.setAttribute("onclick","finalSBlam()"),e.className="btn btn_dynctabt ml05 btn__blue bold",e.innerText="Add to Cart",t.parentNode.replaceChild(e,t)}},3e3),window.onload=function(){document.querySelector(".js-submit-cart").outerHTML='<a onclick="finalSBlam()" class="btn ml05 btn__blue bold" {% if product.variants.first.available %}>Add to Cart {% else %}  style="pointer-events:none" >Out of Stock  {% endif %}</button>',document.querySelectorAll(".product__quantity").forEach(function(t){t.style.display="none"})},document.getElementById("select_box").addEventListener("change",function(t){"radio"===t.target.type&&t.target.value});
</script> {% endcomment %}