{% if cart.currency.iso_code == 'USD' or cart.currency.iso_code == 'CAD' and product.variants.first.price >= 7500 and product.variants.size == 1 %}

<div class="free_pdpsshipvss">🚚 Order now & get FREE shipping — right to your door!</div>
<style>
	.free_pdpsshipvss {
    display: block;
    text-align: center;
    font-size: 13px;
    background: #ffe7d2;
    border-radius: 10px;
    padding: 8px;
      margin: 15px 0 0;
      font-weight:600;
      max-width:500px;
}
</style>
{% endif %}