<section class='topia__box-newsletter-wrapper' data-module='topiaBox'>
  <div class='x ma p15'>
    <div class='topia__box-wrapper x ac rel'>
      <div class='topia__box rel z3'>
        <div class='topia__box-header px1 f x aic jcb bgtb'>
          <div class='topia__box-lines rel pr1'></div>
          <h5 class='mono caps mx0 px0 pl1'>You Never Know</h5>
        </div>
        <div class='topia__box-content bg-w'>
          <div class='topia__box-newsletter ac container--sm mxa'>
            <h2 class='h1 pb0 mb0 cooper'>Let's keep in touch.</h2>
            <p class='container--s mha my1 py1'>Sign up to our newsletter for period puns, self care tips, some funny videos and more. See ya around.</p>
            {% include 'newsletter-form' %}
          </div>
        </div>
      </div>
      <div class='topia__box-two z2 abs x y top left bgty'></div>
      <div class='topia__box-three z1 abs x y top left bgtp'></div>
    </div>
  </div>
</section>