<div class="bg-lp px2 rel o-h">
  <div class="container--xl mha pm60 pl100 page__header ac rel z2">
    <h1 class="caps outline cb">{{ page.title }}</h1>
  </div>

  <div class="abs fill-x fill-y cp page__hero_shape">
    {% include 'shape-one' %}
  </div>
</div>
<div class="bg-w">
  <div class="container--l mha px2 pm60">
    {{ page.content }}
  </div>
</div>

{% schema %}
{
  "name": "Blume babies",
  "presets": [
    {
      "name": "Blume babies"
    }
  ]
}
{% endschema %}
