
  <section class='bg-p' data-module='animateIn'>
    <div class='container--xl mxa px15 pm60 js-animate'>
      <div class='f jcb aic fw product__steps'>
        <div class='product__steps-image animate transition-2 s-in o-in'>
          <img class='x lazyload' data-src="https://cdn.accentuate.io/575455002675/5970310791219/blume-blume-august--v1573243385304.jpg?4380x5086" />
        </div>
        <div class='product__steps-text product__editor animate transition-4 s-in o-in'>
          <h3>How it's done</h3><ol><li><h2 class="outline caps">Wash It</h2><br>a clean canvas is essential.</li><li><h2 class="outline caps">Drop It</h2><br>A drop or two on your finger works.</li><li><h2 class="outline caps">Dot It</h2><br>Pat it (gently) onto any spots or blemishes.</li><li><h2 class="outline caps">Seal It</h2><br>Once it's dried, it's time to moisturize.</li></ol>
        </div>
      </div>
    </div>
  </section>
