 <section class='product__testimonials al bg-lb rel z3' data-module='productTestimonials'>
    <div class='abs left fill-x fill-y clb bg-p talk__bar'>
      <svg class='fill-x abs' width="1440px" height="1213px" viewBox="0 0 1440 1213"><defs><path d="M0,279.351562 C240,160.1867 480,100.604269 720,100.604269 C960,100.604269 1200,67.0695128 1440,0 L1440,1213 L0,1213 L0,279.351562 Z" id="path-1"></path></defs><g id="All-Pages" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="Shop-Products-2---Landing" transform="translate(0.000000, -3911.000000)"><g id="Blume-Box" transform="translate(0.000000, 3134.000000)"><g id="Backgound-Elements" transform="translate(0.000000, 134.000000)"><g id="Cream-Wave-and-Navy-Blob" transform="translate(0.000000, 643.000000)"><mask id="mask-2" fill="white"><use xlink:href="#path-1"></use></mask><use id="Cream-Background-Wave" fill="currentColor" xlink:href="#path-1"></use></g></g></g></g></g></svg>
    </div>
    <div class='container--xl mha pv2 pm60 px15 rel z4 product__testimonials-inner'>
      <div class='f jcb aie product__testimonials-header rel mb05'>
        <h2 class="caps outline pt05 pb0 mt0 line-header mb0">
          <span class="rel z2 inline-block">Before & After</span>
        </h2>
        <div>
          <div class='real__controls ar mr1 right f jce aic'>
            <div class='real__controls-left cw inline-block f jcc bg-w co aic rotate js-before-left'>
              <svg width="9px" height="15px" viewBox="0 0 9 15">
                <g id="2019-Site-Updates" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <polyline id="Rectangle-11" stroke='currentColor' stroke-width="2"
                    transform="translate(0.926461, 7.754586) scale(-1, 1) rotate(-315.000000) translate(-0.926461, -7.754586) "
                    points="5.42646103 12.254586 -3.57353897 12.254586 -3.57353897 3.25458603 -3.57353897 3.25458603"></polyline>
                </g>
              </svg>
            </div>
            <div class='real__controls-right ml1 cw inline-block f bg-w  co jcc aic js-before-right'>
              <svg width="9px" height="15px" viewBox="0 0 9 15">
                <g id="2019-Site-Updates" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <polyline id="Rectangle-11" stroke='currentColor' stroke-width="2"
                    transform="translate(0.926461, 7.754586) scale(-1, 1) rotate(-315.000000) translate(-0.926461, -7.754586) "
                    points="5.42646103 12.254586 -3.57353897 12.254586 -3.57353897 3.25458603 -3.57353897 3.25458603"></polyline>
                </g>
              </svg>
            </div>
          </div>
        </div>
      </div>
      <div class='product__testimonials-wrapper x jcb ais'>
        <div class='product__testimonials-ba x f jcb ais js-testimonials-images'>
          
            <div class='f jcb x ais mr1 pr1'>
              <div class='x product__testimonials-single'>
                <div class='product__before-slideshow no-drag x js-before-slideshow o-h'>
                  
                    <div class='x product__testimonials-single-slide' style="background-image: url(https://cdn.accentuate.io/575455002675/6121513451571/Abbey-Before-v1562201857514.jpg?560x714)">
                      <img class="lazyload" data-src="https://cdn.accentuate.io/575455002675/6121513451571/Abbey-Before-v1562201857514.jpg?560x714" />
                    </div>
                  
                    <div class='x product__testimonials-single-slide' style="background-image: url(https://cdn.accentuate.io/575455002675/6121513451571/Carolyn-Before-v1562201821287.jpg?560x714)">
                      <img class="lazyload" data-src="https://cdn.accentuate.io/575455002675/6121513451571/Carolyn-Before-v1562201821287.jpg?560x714" />
                    </div>
                  
                    <div class='x product__testimonials-single-slide' style="background-image: url(https://cdn.accentuate.io/575455002675/6121513451571/Shannon-Before-v1562201918028.jpg?560x714)">
                      <img class="lazyload" data-src="https://cdn.accentuate.io/575455002675/6121513451571/Shannon-Before-v1562201918028.jpg?560x714" />
                    </div>
                  
                    <div class='x product__testimonials-single-slide' style="background-image: url(https://cdn.accentuate.io/575455002675/6121513451571/Lia-Before-v1562202622082.jpg?560x714)">
                      <img class="lazyload" data-src="https://cdn.accentuate.io/575455002675/6121513451571/Lia-Before-v1562202622082.jpg?560x714" />
                    </div>
                  
                </div>
                <h5 class='caps small mv05 px0'>Before</h5>
              </div>
              <div class='x product__testimonials-single'>
                <div class='product__before-slideshow no-drag x js-after-slideshow o-h'>
                  
                    <div class='x product__testimonials-single-slide' style='background-image: url(https://cdn.accentuate.io/575455002675/6121513418803/Abbey-After-v1562201870274.jpg?560x714)'>
                      <img class="lazyload" data-src="https://cdn.accentuate.io/575455002675/6121513418803/Abbey-After-v1562201870274.jpg?560x714" />
                    </div>
                  
                    <div class='x product__testimonials-single-slide' style='background-image: url(https://cdn.accentuate.io/575455002675/6121513418803/Carolyn-After-v1562201839665.jpg?560x714)'>
                      <img class="lazyload" data-src="https://cdn.accentuate.io/575455002675/6121513418803/Carolyn-After-v1562201839665.jpg?560x714" />
                    </div>
                  
                    <div class='x product__testimonials-single-slide' style='background-image: url(https://cdn.accentuate.io/575455002675/6121513418803/Shannon-After-v1562201937099.jpg?560x714)'>
                      <img class="lazyload" data-src="https://cdn.accentuate.io/575455002675/6121513418803/Shannon-After-v1562201937099.jpg?560x714" />
                    </div>
                  
                    <div class='x product__testimonials-single-slide' style='background-image: url(https://cdn.accentuate.io/575455002675/6121513418803/Lia-After-v1562202628881.jpg?560x714)'>
                      <img class="lazyload" data-src="https://cdn.accentuate.io/575455002675/6121513418803/Lia-After-v1562202628881.jpg?560x714" />
                    </div>
                  
                </div>
                <h5 class='caps small mv05 px0'>After</h5>
              </div>
            </div>
          
            <div class='f jcb x ais mr1 pr1'>
              <div class='x product__testimonials-single'>
                <div class='product__before-slideshow no-drag x js-before-slideshow o-h'>
                  
                    <div class='x product__testimonials-single-slide' style="background-image: url(https://cdn.accentuate.io/575455002675/6121513451571/Abbey-Before-v1562201857514.jpg?560x714)">
                      <img class="lazyload" data-src="https://cdn.accentuate.io/575455002675/6121513451571/Abbey-Before-v1562201857514.jpg?560x714" />
                    </div>
                  
                    <div class='x product__testimonials-single-slide' style="background-image: url(https://cdn.accentuate.io/575455002675/6121513451571/Carolyn-Before-v1562201821287.jpg?560x714)">
                      <img class="lazyload" data-src="https://cdn.accentuate.io/575455002675/6121513451571/Carolyn-Before-v1562201821287.jpg?560x714" />
                    </div>
                  
                    <div class='x product__testimonials-single-slide' style="background-image: url(https://cdn.accentuate.io/575455002675/6121513451571/Shannon-Before-v1562201918028.jpg?560x714)">
                      <img class="lazyload" data-src="https://cdn.accentuate.io/575455002675/6121513451571/Shannon-Before-v1562201918028.jpg?560x714" />
                    </div>
                  
                    <div class='x product__testimonials-single-slide' style="background-image: url(https://cdn.accentuate.io/575455002675/6121513451571/Lia-Before-v1562202622082.jpg?560x714)">
                      <img class="lazyload" data-src="https://cdn.accentuate.io/575455002675/6121513451571/Lia-Before-v1562202622082.jpg?560x714" />
                    </div>
                  
                </div>
                <h5 class='caps small mv05 px0'>Before</h5>
              </div>
              <div class='x product__testimonials-single'>
                <div class='product__before-slideshow no-drag x js-after-slideshow o-h'>
                  
                    <div class='x product__testimonials-single-slide' style='background-image: url(https://cdn.accentuate.io/575455002675/6121513418803/Abbey-After-v1562201870274.jpg?560x714)'>
                      <img class="lazyload" data-src="https://cdn.accentuate.io/575455002675/6121513418803/Abbey-After-v1562201870274.jpg?560x714" />
                    </div>
                  
                    <div class='x product__testimonials-single-slide' style='background-image: url(https://cdn.accentuate.io/575455002675/6121513418803/Carolyn-After-v1562201839665.jpg?560x714)'>
                      <img class="lazyload" data-src="https://cdn.accentuate.io/575455002675/6121513418803/Carolyn-After-v1562201839665.jpg?560x714" />
                    </div>
                  
                    <div class='x product__testimonials-single-slide' style='background-image: url(https://cdn.accentuate.io/575455002675/6121513418803/Shannon-After-v1562201937099.jpg?560x714)'>
                      <img class="lazyload" data-src="https://cdn.accentuate.io/575455002675/6121513418803/Shannon-After-v1562201937099.jpg?560x714" />
                    </div>
                  
                    <div class='x product__testimonials-single-slide' style='background-image: url(https://cdn.accentuate.io/575455002675/6121513418803/Lia-After-v1562202628881.jpg?560x714)'>
                      <img class="lazyload" data-src="https://cdn.accentuate.io/575455002675/6121513418803/Lia-After-v1562202628881.jpg?560x714" />
                    </div>
                  
                </div>
                <h5 class='caps small mv05 px0'>After</h5>
              </div>
            </div>
          
        </div>
        <div class='product__testimonials-bios rel'>
          <div class='js-testimonials-text x'>
            
              <div class='product__testimonials-bios-single x'>
                <div>
                  <p class='s18'>I began cleansing with the Daydreamer face wash, and applying Meltdown at night. After a couple of weeks, my blemishes and scarring started to clear up! This transformation helped me realize that making small changes in my life such as adding Meltdown to my self-care routine could make me feel better. After finishing my first bottle of Meltdown, I own all the confidence to smile at others and make direct eye contact when I talk. I feel confident because people are seeing ME and not just the red bumps on my face.</p>
                </div>
              </div>
            
              <div class='product__testimonials-bios-single x'>
                <div>
                  <p class='s18'>I've struggled with acne for years but it's been especially hard after having my first baby almost a year ago. I love Meltdown because the price is affordable. It's a quick addition to my skincare routine, it's all natural and it works! I rarely have the time (or energy) to do a face mask or a 10 step routine so Meltdown is the perfect thing for me!</p>
                </div>
              </div>
            
              <div class='product__testimonials-bios-single x'>
                <div>
                  <p class='s18'>This is 2 weeks after using Meltdown. Still working on scars but I went from wearing foundation everyday to just mascara and eyebrow filler. It's worth it! </p>
                </div>
              </div>
            
              <div class='product__testimonials-bios-single x'>
                <div>
                  <p class='s18'> Living on a college student budget while switching to more sustainable products can be difficult. Finding environmental friendly skincare is even worse when you’ve been fighting cystic acne since 13 years old. After about a year of trial and error, I met blume. Meltdown gave me back a healthy relationship with my skin, my self confidence and the world around me. I keep a bottle in a bathroom and another on my nightstand, sometimes just to enjoy the scent. I add to my clay face masks. I use meltdown as a natural highlighter, especially since there’s not as many blemishes to combat. It’s a part of my everyday life :)</p>
                </div>
              </div>
            
          </div>
          <div class='product__testimonials-name x js-name-slideshow'>
            
              <div class='x'>
                <h5 class='caps s16 mb0 pb0'>Carolyn</h5>
                <span class='small'>Using Meltdown</span>
              </div>
            
              <div class='x'>
                <h5 class='caps s16 mb0 pb0'>Abbey</h5>
                <span class='small'>Using Meltdown</span>
              </div>
            
              <div class='x'>
                <h5 class='caps s16 mb0 pb0'>Shannon</h5>
                <span class='small'>Using Meltdown</span>
              </div>
            
              <div class='x'>
                <h5 class='caps s16 mb0 pb0'>Lia</h5>
                <span class='small'>Using Meltdown</span>
              </div>
            
          </div>
        </div>
      </div>
    </div>
  </section>
 