<div class='bg-w rel'>
  <div class='fill-x container--xl mha px2 ac'>
    {% if section.settings.title != blank %}
      <h2 class='caps outline line-header'>
        <span class='rel z2 ph05 inline-block'>{{ section.settings.title | escape }}</span>
      </h2>
    {% endif %}

    {%- assign collection = collections[section.settings.collection] -%}
    <div class='f jcb fw collection__grid'>
      {% for product in collection.products limit: 6 %}
        {% include 'collection-item' %}
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Bundle collection",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Bundle"
      },
      {
        "id": "collection",
        "type": "collection",
        "label": "Collection"
      }
    ],
    "presets": [
      {
        "name": "Bundle collection",
        "category": "Collection"
      }
    ]
  }

{% endschema %}
