<section class='locator bg-lp rel'>
    <div class='abs left fill-x fill-y clp collection__bar'>
      <svg class='fill-x abs' width="1440px" height="1213px" viewBox="0 0 1440 1213"><defs><path d="M0,279.351562 C240,160.1867 480,100.604269 720,100.604269 C960,100.604269 1200,67.0695128 1440,0 L1440,1213 L0,1213 L0,279.351562 Z" id="path-1"></path></defs><g id="All-Pages" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="Shop-Products-2---Landing" transform="translate(0.000000, -3911.000000)"><g id="Blume-Box" transform="translate(0.000000, 3134.000000)"><g id="Backgound-Elements" transform="translate(0.000000, 134.000000)"><g id="Cream-Wave-and-Navy-Blob" transform="translate(0.000000, 643.000000)"><mask id="mask-2" fill="white"><use xlink:href="#path-1"></use></mask><use id="Cream-Background-Wave" fill="currentColor" xlink:href="#path-1"></use></g></g></g></g></g></svg>
    </div>
    <div class='locator__inner container--l mha phm4 rel z2'>
      <div class='wrapper__inner rel z3 ac'>
        <h2 class='caps outline line-header mt0'>{{section.settings.title}}</h2>
        <!-- Storerocket widget -->
        <div id='storerocket-widget' style='width:100%;' data-storerocket-env='p' data-storerocket-id='MN4QBXkJOZ'><p style='text-align:center;font-size:13px;padding:10px;'>Store locator is loading from StoreRocket <a target='_blank' href='https://storerocket.io' style='font-size:13px;'>Store Locator Widget</a>..</p></div><script>(function(){var a=document.createElement('script');a.type='text/javascript';a.async=!0;a.src='https://cdn.storerocket.io/js/widget-mb.js';var b=document.getElementsByTagName('script')[0];b.parentNode.insertBefore(a,b);}());</script>
        <!-- end Storerocket widget -->
      </div>
    </div>
  </section>
  {% schema %}
    {
      "name": "Stockists Page Locator",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Store Locator"
        }
      ]
    }
  {% endschema %}