
{% include 'product-hero' %}
{% include 'product-text-image' %}
{% include 'product-included' %}
{% comment %} {% render 'product-included-dropdown' %} {% endcomment %}
{% if product.handle != 'blume-conversation-cards' %}
  {% include 'product-included-info' %}
{% endif %}
{% include 'product-testimonial' %} 
<section class='bg-w pv1 pm60 pl100 o-h rel z4'>
  <div class='container--mm mha pt2 ph2 pb1 phm4'>
    {% render 'junip-product-review', product: product %}
  </div>
</section>

{% schema %}
  {
    "name": "Product pages",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_share_buttons",
        "label": "Show social sharing buttons",
        "default": true
      }
    ]
  }
{% endschema %}