<section class='bg-w pv1 pm60 pl100 o-h rel z4'>
    <div class='container--mm mha pt2 ph2 pb1 phm4'> 
        {% render 'junip-product-review', product: product %}
    </div>
</section>

{% schema %}
{
    "name": "Product Reviews (Junip)",
    "settings": [
    ],
    "presets": [
        {
            "name":"Product Reviews (Junip)"
        }
    ]
}
{% endschema %}