</div><div id="shopify-section-1522954322908" class="shopify-section"><section class='talk bg-lp px2  z5 phm4 pm60 pl100 rel' data-module='realTalk'>
  <div class='abs left fill-x fill-y clp talk__bar'>
    <svg class='fill-x bg-bf abs' width="1440px" height="1213px" viewBox="0 0 1440 1213"><defs><path d="M0,279.351562 C240,160.1867 480,100.604269 720,100.604269 C960,100.604269 1200,67.0695128 1440,0 L1440,1213 L0,1213 L0,279.351562 Z" id="path-1"></path></defs><g id="All-Pages" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="Shop-Products-2---Landing" transform="translate(0.000000, -3911.000000)"><g id="Blume-Box" transform="translate(0.000000, 3134.000000)"><g id="Backgound-Elements" transform="translate(0.000000, 134.000000)"><g id="Cream-Wave-and-Navy-Blob" transform="translate(0.000000, 643.000000)"><mask id="mask-2" fill="white"><use xlink:href="#path-1"></use></mask><use id="Cream-Background-Wave" fill="currentColor" xlink:href="#path-1"></use></g></g></g></g></g></svg>
  </div>
  <div class='container--xl rel z2 mha'>
    <div>
      <div class='al container--sm talk__header x f jcs ais'>
        <h2 class='mb1 px0 serif'>Not to brag, but people are loving us</h2>
        <img class='fill-x talk__icon lazyload' data-src="//cdn.shopify.com/s/files/1/0003/4580/0755/files/mouth_icon_3ac1bbb8-e86d-42a0-8618-6589e97b9bdc_600x.png?v=1558048797" />
      </div>
      <div class='f jcb ais fw real__wrapper rel'>
        
          <div class='real__controls ar abs top mr1 right f jce aic'>
            <div class='real__controls-left bg-o cw inline-block f jcc aic rotate js-left-slides'>
              <svg width="9px" height="15px" viewBox="0 0 9 15">
                <g id="2019-Site-Updates" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <polyline id="Rectangle-11" stroke='currentColor' stroke-width="2"
                    transform="translate(0.926461, 7.754586) scale(-1, 1) rotate(-315.000000) translate(-0.926461, -7.754586) "
                    points="5.42646103 12.254586 -3.57353897 12.254586 -3.57353897 3.25458603 -3.57353897 3.25458603"></polyline>
                </g>
              </svg>
            </div>
            <div class='real__controls-right ml1 bg-o cw inline-block f jcc aic js-right-slides'>
              <svg width="9px" height="15px" viewBox="0 0 9 15">
                <g id="2019-Site-Updates" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <polyline id="Rectangle-11" stroke='currentColor' stroke-width="2"
                    transform="translate(0.926461, 7.754586) scale(-1, 1) rotate(-315.000000) translate(-0.926461, -7.754586) "
                    points="5.42646103 12.254586 -3.57353897 12.254586 -3.57353897 3.25458603 -3.57353897 3.25458603"></polyline>
                </g>
              </svg>
            </div>
          </div>
          <div class='real__slides x rel'>
            <div class='js-slideshow-active o-h real__slides-main'>
              
              <div class='x'>
                <div class='talk__image y x'>
                  <img class='x y lazyload' data-src="//cdn.shopify.com/s/files/1/0003/4580/0755/files/79821341_770839593425970_9070273632310645133_n_600x.jpg?v=1581369992" />
                </div>
              </div>
              
              <div class='x'>
                <div class='talk__image y x'>
                  <img class='x y lazyload' data-src="//cdn.shopify.com/s/files/1/0003/4580/0755/files/83264698_169330861091058_5083648156897615669_n_600x.jpg?v=1581370436" />
                </div>
              </div>
              
              <div class='x'>
                <div class='talk__image y x'>
                  <img class='x y lazyload' data-src="//cdn.shopify.com/s/files/1/0003/4580/0755/files/79378285_2503851126549692_6850136613680632848_n_600x.jpg?v=1582054470" />
                </div>
              </div>
              
              <div class='x'>
                <div class='talk__image y x'>
                  <img class='x y lazyload' data-src="//cdn.shopify.com/s/files/1/0003/4580/0755/files/80648610_677038246035556_9211086614366031451_n_600x.jpg?v=1581370078" />
                </div>
              </div>
              
              <div class='x'>
                <div class='talk__image y x'>
                  <img class='x y lazyload' data-src="//cdn.shopify.com/s/files/1/0003/4580/0755/files/84473817_127703811718571_8883636600753104316_n_600x.jpg?v=1581369777" />
                </div>
              </div>
              
              <div class='x'>
                <div class='talk__image y x'>
                  <img class='x y lazyload' data-src="//cdn.shopify.com/s/files/1/0003/4580/0755/files/82296250_2574777799513813_7954295093746275490_n_600x.jpg?v=1581370173" />
                </div>
              </div>
              
            </div>
            <div class='js-slideshow-inactive o-h real__slides-second'>
              
              <div class='x'>
                <div class='talk__image'>
                  <img class='x lazyload' data-src="//cdn.shopify.com/s/files/1/0003/4580/0755/files/79821341_770839593425970_9070273632310645133_n_600x.jpg?v=1581369992" />
                </div>
              </div>
              
              <div class='x'>
                <div class='talk__image'>
                  <img class='x lazyload' data-src="//cdn.shopify.com/s/files/1/0003/4580/0755/files/83264698_169330861091058_5083648156897615669_n_600x.jpg?v=1581370436" />
                </div>
              </div>
              
              <div class='x'>
                <div class='talk__image'>
                  <img class='x lazyload' data-src="//cdn.shopify.com/s/files/1/0003/4580/0755/files/79378285_2503851126549692_6850136613680632848_n_600x.jpg?v=1582054470" />
                </div>
              </div>
              
              <div class='x'>
                <div class='talk__image'>
                  <img class='x lazyload' data-src="//cdn.shopify.com/s/files/1/0003/4580/0755/files/80648610_677038246035556_9211086614366031451_n_600x.jpg?v=1581370078" />
                </div>
              </div>
              
              <div class='x'>
                <div class='talk__image'>
                  <img class='x lazyload' data-src="//cdn.shopify.com/s/files/1/0003/4580/0755/files/84473817_127703811718571_8883636600753104316_n_600x.jpg?v=1581369777" />
                </div>
              </div>
              
              <div class='x'>
                <div class='talk__image'>
                  <img class='x lazyload' data-src="//cdn.shopify.com/s/files/1/0003/4580/0755/files/82296250_2574777799513813_7954295093746275490_n_600x.jpg?v=1581370173" />
                </div>
              </div>
              
            </div>
          </div>
        
        
          <div class='real__text x'>
            
              <div class='f jcb talk__single js-single-text fw pv2 active'>
                <div class='talk__single_text_container'>
                  <div class='talk__single_text'>
                    <p class=''>I love Blume and all their products because of how SIMPLE the ingredient lists are. No funky chemicals that you can’t pronounce. Just real, good-for-you and your body ingredients that work! The Stargirl mist has been a go-to of mine for the winter, it gives the most natural glow while hydrating as well! Can’t recommend it enough!</p>
                    <img class=' talk__squiggle mt1' src="//cdn.shopify.com/s/files/1/0003/4580/0755/files/squiggle_2_600x.png?v=1558048918" />
                    <h6 class='caps black  mt1 ls1'>Sasha (@whattthehealth)</h6>
                  </div>
                </div>
              </div>
            
              <div class='f jcb talk__single js-single-text fw pv2 '>
                <div class='talk__single_text_container'>
                  <div class='talk__single_text'>
                    <p class=''>I have very sensitive skin so always prefer to find and use products with natural ingredients that I can trust and aren’t too harsh. I had been trying to find a good natural spot treatment and then I discovered Meltdown! I’ve been loving it and even got my boyfriend hooked.</p>
                    <img class=' talk__squiggle mt1' src="//cdn.shopify.com/s/files/1/0003/4580/0755/files/squiggle_1_600x_f4445f53-d6cb-4fdf-9478-1f3e6a8ef788_600x.png?v=1562240908" />
                    <h6 class='caps black  mt1 ls1'>Chiara (@chilucchetta)</h6>
                  </div>
                </div>
              </div>
            
              <div class='f jcb talk__single js-single-text fw pv2 '>
                <div class='talk__single_text_container'>
                  <div class='talk__single_text'>
                    <p class=''>Traditional acne treatments often dry out my skin and cause more problems than I started with, but I finally found a solution with Blume Stargirl! Not only does it fight off acne, it’s amazing at preventing breakouts in the first place. 10/10 recommend.</p>
                    <img class=' talk__squiggle mt1' src="//cdn.shopify.com/s/files/1/0003/4580/0755/files/squiggle_2_600x_a306eb23-facf-4d14-8f92-2252432f4233_600x.png?v=1562241156" />
                    <h6 class='caps black  mt1 ls1'>Dorothy (@dskyeung)</h6>
                  </div>
                </div>
              </div>
            
              <div class='f jcb talk__single js-single-text fw pv2 '>
                <div class='talk__single_text_container'>
                  <div class='talk__single_text'>
                    <p class=''>Meltdown is my true go-to when it comes to any little blemish that tries to make its debut! Meltdown is the spot acne treatment that will help you out whenever you need it and it has proved its worth to keep its place in my skin care routine.</p>
                    <img class=' talk__squiggle mt1' src="//cdn.shopify.com/s/files/1/0003/4580/0755/files/squiggle_1_600x_f4445f53-d6cb-4fdf-9478-1f3e6a8ef788_600x.png?v=1562240908" />
                    <h6 class='caps black  mt1 ls1'>Amber (@amber__roman)</h6>
                  </div>
                </div>
              </div>
            
              <div class='f jcb talk__single js-single-text fw pv2 '>
                <div class='talk__single_text_container'>
                  <div class='talk__single_text'>
                    <p class=''>Everything changed once I discovered Hug Me! Honestly, wholeheartedly, I can say it works! I have worn Hug Me while I’m just watching Netflix, and while doing intense workout classes, and I didn’t smell for any of it! It also holds up SO WELL! I’m so excited, I’ll never go back to what I was using ever again!</p>
                    <img class=' talk__squiggle mt1' src="//cdn.shopify.com/s/files/1/0003/4580/0755/files/squiggle_1_600x.png?v=1558048869" />
                    <h6 class='caps black  mt1 ls1'>Grace (@withgrace.blog)</h6>
                  </div>
                </div>
              </div>
            
              <div class='f jcb talk__single js-single-text fw pv2 '>
                <div class='talk__single_text_container'>
                  <div class='talk__single_text'>
                    <p class=''>The skin care products were awesome!!</p>
                    <img class=' talk__squiggle mt1' src="//cdn.shopify.com/s/files/1/0003/4580/0755/files/squiggle_2_600x_a306eb23-facf-4d14-8f92-2252432f4233_600x.png?v=1562241156" />
                    <h6 class='caps black  mt1 ls1'>Mavia (@mavianijjer)</h6>
                  </div>
                </div>
              </div>
            
          </div>
        
      </div>
    </div>
  </div>
</section>
</div><div id="shopify-section-1522890423583" class="shopify-section index-section newsletter-signup"><div class="newsletter__module f jcs px2  phm4 aic text-center rel z6" data-section-id="1522890423583" data-section-type="newsletter-signup-section" style="background-image: url('//cdn.shopify.com/s/files/1/0003/4580/0755/files/email-module-image-new_2048x2048.jpg?v=1580753347')">
  <div class='container--xl fill-x mha pv2 newsletter__desktop'>
    
      <h2 class='px0 serif mx0'>Let&#39;s keep it real.</h2>
    
    
      <h5 class='container--s ls0'>Sign up for our newsletter for self care tips, acne 101, fun community surprises and more. We love bluming with you!</h5>
    
    <div>
      

<form action="https://manage.kmail-lists.com/subscriptions/subscribe?a=Kg5iBx&g=JSkLcF" method="POST" id="email_signup" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
  
  
    <div class="newsletter__form container--s rel f aic">
      <input type="hidden" name="contact[tags]" value="newsletter">
      <input type="email" value="" placeholder="Your Email" name="email" id="k_id_email" class="abs fill-x fill-y newsletter__input" autocorrect="off" autocapitalize="off">
      <button type="submit" class="newsletter__submit abs right" name="commit" id="Subscribe">
        <span class="caps cdb black ls1">Submit</span>
      </button>
    </div>
  
</form>
<script type="text/javascript" src="//www.klaviyo.com/media/js/public/klaviyo_subscribe.js"></script>

    </div>
  </div>
</div>
<div class='container--xl fill-x mha px2  bg-w newsletter__module_mobile'>
  
    <h2 class='px0 serif mx0'>Let&#39;s keep it real.</h2>
  
  
    <h5 class='container--xs'>Sign up for our newsletter for self care tips, acne 101, fun community surprises and more. We love bluming with you!</h5>
  
  <div>
    

<form action="https://manage.kmail-lists.com/subscriptions/subscribe?a=Kg5iBx&g=JSkLcF" method="POST" id="email_signup" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
  
  
    <div class="newsletter__form container--s rel f aic">
      <input type="hidden" name="contact[tags]" value="newsletter">
      <input type="email" value="" placeholder="Your Email" name="email" id="k_id_email" class="abs fill-x fill-y newsletter__input" autocorrect="off" autocapitalize="off">
      <button type="submit" class="newsletter__submit abs right" name="commit" id="Subscribe">
        <span class="caps cdb black ls1">Submit</span>
      </button>
    </div>
  
</form>
<script type="text/javascript" src="//www.klaviyo.com/media/js/public/klaviyo_subscribe.js"></script>

  </div>
</div>

</section>