<section class='cdb ac topia__reach rel' data-module='topiaJourney'>
  <h2 class='h2 hero-h2 cooper topia__journey-single js-journey rel z2'>Join</h2>
  <h2 class='h2 hero-h2 cooper topia__journey-single js-journey rel z2'>Earn Points</h2>
  <h2 class='h2 hero-h2 cooper topia__journey-single js-journey rel z2'>Redeem</h2>
  <h2 class='h2 hero-h2 cooper topia__journey-single js-journey rel z2'>Reach</h2>
  <div class='px15 container--xl mxa topia__journey-single js-journey'>
    <div class='cdb mb1 pb1 rel'>
      <div class='rel z2'>
        {% include 'blumetopia' %}
      </div>
    </div>
    <div class='js-journey-sun topia__journey-sun'>
      <img class='abs z1 topia__sun x left bottom lazyload' data-src='{{ 'sun_ray.static.png' | asset_url }}' alt='sun ray' />
    </div>
    <a href='#smile' class='caps js-open-smile no-ajax rel z1 btn mono btn__topia'>
      <span class='rel z2'>Join Now</span>
      <video class='abs x y top left' muted autoplay loop>
        <source src='{{ 'button_water.static.mp4' | asset_url }}' type='video/mp4'>
      </video>
    </a>
  </div>
</section>