<div class='bg-lb fill-x fill-y f jcc aic z1 page-404'>
  <div class='container--s mha ac px2'>
    <h2>🙅‍♀️</h2>
    <h1 class='caps outline px0 mx0'>
      <span class='rel z2 ph05 inline-block'>
        404
      </span>
    </h1>
    <p>Whatever you're looking for isn’t here, sorry! </p>
    <img src='https://cdn.shopify.com/s/files/1/0003/4580/0755/files/sloth.jpg?3359702820064102590' />
    <a href='/pages/build-a-box' class='btn btn__outline mt2'>Build a Box</a>
  </div>
</div>
