<div data-module='shopPage'>
  {% comment %}
    {% section 'blume-box-hero' %}
  
  <section class='bg-w px2 pm60  o-h rel f jcc aic hero__tall' data-module='pageHero'></section>{% endcomment %}
  {% section 'shop-gifts' %}
  {% comment %}{% section 'blume-box-cta' %}{% endcomment %}
  {% section 'female-forward' %}

  {% section 'newsletter-signup' %}
</div>