<div class='bg-w'>
  {% section 'hero' %}
  {% section 'brand-moment' %}
  {% section 'featured-collection' %}
  {% section 'why-organic' %}
  {% section 'press-list' %}
  {% section 'boxes-cta' %}
  {% section 'real-talk' %}
  {% section 'newsletter-signup' %}
</div>