<div data-module='shopPage'>
  {% comment %}
    {% section 'blume-box-hero' %}
  {% endcomment %}
  {% comment %}<section class='bg-w px2 pm60  o-h rel f jcc aic hero__tall' data-module='pageHero'></section>{% endcomment %}
  {% comment %} {% section 'shop-collections' %} {% endcomment %}
 


 {% render 'ama-bfcm-3deals' %} 

{% comment %} {% render 'ama-bfcm-3deals' %} {% endcomment %}
          
   {% section 'shop-collections-update' %}  
  {% comment %}
    {% section 'blume-box-cta' %}
  {% endcomment %}
  {% section 'female-forward' %}
  {% section 'newsletter-signup' %}
</div>