<div class='bg-p x' data-module='topia'>
  {% section 'topia-hero' %}
  {% section 'topia-points' %}
  {% section 'topia-journey' %}
  {% section 'topia-how-it-works' %}
  {% section 'topia-redeem' %}
  {% section 'topia-reach' %}
  {% section 'topia-save' %}
  {% include 'topia-reviews' %}
  <audio id='oceanSound'  data-sound="{{ 'oceanlap.static.wav' | asset_url }}"></audio>
  <audio id='oceanWave' data-sound="{{ 'oceanwave.static.wav' | asset_url }}"></audio>
  <audio id='coin' data-sound="{{ 'coin_sound.wav' | file_url }}"></audio>
  <audio id='chantSound' data-sound="{{ 'rooster.mp3' | file_url }}"></audio>
</div>