{% section 'page-giftguide-alt-hero' %}
{% section 'page-giftguide-alt-collection' %}
{% section 'page-giftguide-alt-about' %}
<div class="page-holiday__container page-gg__container" style="margin-top:0;">
  {% section 'real-talk' %}
</div>
{% section 'page-giftguide-story' %}