{% section 'page-holiday-hero' %}

<div class="page-holiday__container">
  {% section 'page-holiday-products' %}
  {% section 'page-holiday-about' %}
  {% section 'real-talk' %}
  {% section 'page-holiday-collection' %}
  {% section 'page-holiday-story' %}
</div>
