{% section 'page-landing-hero' %}
<div data-module="landing">
  {% section 'page-landing-products' %}
  {% section 'page-landing-valueprops' %}
  {% section 'page-landing-howitworks' %}
  {% section 'page-landing-reviews' %}
  {% section 'page-landing-about' %}
  {% section 'page-landing-story' %}
  <div class="page-landing__footer bg-lp ac px2">
    <h2 class="serif mt0">Don't forget to pick your box!</h2>
    <a class="btn btn__blue bold js-scrollToTop" href="#top">Back to Top</a>
  </div>
</div>
