<div data-module='shopPage'>
  {% section 'blume-box-hero' %}
  {% section 'gang-collection' %}
  <!-- {% section 'merch-collection' %} -->
  {% section 'blume-box-cta' %}
  {% section 'female-forward' %}
  {% section 'newsletter-signup' %}
</div>