<div class="stockists">
    {% section 'page-stockists-hero' %}
    {% section 'page-stockists-retailers' %}
    {% section 'page-stockists-locator' %}
    {% section 'page-stockists-partners' %}
</div>