<div data-module='shopPage'>
  {% comment %}
  {% section 'blume-box-hero' %}
  {% endcomment %}
  <section class='bg-w px2 pm60  o-h rel f jcc aic hero__tall' data-module='pageHero'></section>
  {% section 'merch-collection' %}
  {% section 'gang-collection' %}
  {% section 'blume-box-cta' %}
  {% section 'female-forward' %}
  {% section 'newsletter-signup' %}
</div>