<div class='o-h bg-lp' data-module='animateIn'>
  {% section 'how-to-use-meltdown-hero' %}
  {% section 'how-to-apply-meltdown' %}
  <div class='container--m mha px2 pm60'>
    {{ page.content }}
  </div>
  {% section 'meltdown-product' %}
  {% section 'new-page-footer-two' %}
</div>