<div class='o-h bg-lp' data-module='animateIn'>
  {% section 'meltdown-ingredients-hero' %}
  <div class='container--m mha px2 pm60'>
    {{ page.content }}
  </div>
  {% section 'meltdown-product' %}
  {% section 'new-page-footer' %}
</div>