 {% layout none %}

<!DOCTYPE html>
<html lang="en">
  <head>
     
    <link rel='preconnect dns-prefetch' href='https://api.config-security.com/' crossorigin />
    <link rel='preconnect dns-prefetch' href='https://conf.config-security.com/' crossorigin />
    <link rel='preconnect dns-prefetch' href='https://whale.camera/' crossorigin />
     
    <!-- Global site tag (gtag.js) - Google Ads: 452502113 -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-452502113"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());

      gtag('config', 'AW-452502113', {'allow_enhanced_conversions': true});
    </script>

   
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="#000000"> 
    <link rel="canonical" href="https://www.blume.com/">
    
      <link
        rel="shortcut icon"
        href="//www.blume.com/cdn/shop/files/blume_favicon_32x32.png?v=1613512084"
        type="image/png">
    

    <style>
  /* .collection__slideshow:hover,
  .flickity-slider:hover,
  .collection__slideshow .collection__item:hover,
  .collection__slideshow .collection__item a:hover,
  .collection__slideshow .collection__item a {
    cursor: url(//www.blume.com/cdn/shop/t/157/assets/drag_me.png?107375) 30 30,
    auto !important;
  } */

  .product__testimonials .flickity-slider:hover {
    cursor: url(//www.blume.com/cdn/shop/t/157/assets/cursor-blume-pointer.static.png?v=69702992348135471041730707085) 6 6,
    auto !important;
  }

  .collection__slideshow .collection__item a.btn {
    cursor: pointer !important;
  }

  body,
  html {
    cursor: url(//www.blume.com/cdn/shop/t/157/assets/cursor-blume-pointer.static.png?v=69702992348135471041730707085) 6 6, auto !important;
  }
  a:hover,
  .size-selector label,
  .rc_block__type,
  .cart-drawer__arrows,
  .quiz__card,
  .pointer,
  .cart-drawer__upsells-single .btn,
  .newsletter__submit,
  .cart-drawer__item button,
  .product__quantity span,
  .collection__item a,
  .product__add-fix button,
  .real__controls > div,
  .real__controls .real__controls_arrows > div,
  .rc_block__type label {
    cursor: url(//www.blume.com/cdn/shop/t/157/assets/cursor-blume-hand.static.png?v=175380560010812034271730707085) 6 6,
    auto !important;
  }
</style>

    
    
    <title> Clear Skin Kit by Blume | Natural Acne Treatment </title>
    
    <meta name="description" content="Achieve clearer, healthier skin with Blume’s Clear Skin Kit. Powered by natural ingredients like Black Cumin Seed Oil, Blue Tansy, and Rosehip Oil, this kit tackles acne at its root—balancing hormones, unclogging pores, and restoring your skin barrier. Ditch harsh chemicals and embrace clean, effective skincare for a radiant, breakout-free complexion.">

    <meta property="og:image" content="https://cdn.shopify.com/s/files/1/0003/4580/0755/files/blume_social.png?v=1689614710">
    <meta property="og:image:secure_url" content="https://cdn.shopify.com/s/files/1/0003/4580/0755/files/blume_social.png?v=1689614710">

    











<meta name="description" content="Achieve clearer, healthier skin with Blume’s Clear Skin Kit. Powered by natural ingredients like Black Cumin Seed Oil, Blue Tansy, and Rosehip Oil, this kit tackles acne at its root—balancing hormones, unclogging pores, and restoring your skin barrier. Ditch harsh chemicals and embrace clean, effective skincare for a radiant, breakout-free complexion." />
<meta property="og:url" content="https://www.blume.com/">
<meta property="og:site_name" content="Blume">
<meta property="og:type" content="website">
<meta property="og:title" content=" Clear Skin Kit by Blume | Natural Acne Treatment">
<meta property="og:description" content="Achieve clearer, healthier skin with Blume’s Clear Skin Kit. Powered by natural ingredients like Black Cumin Seed Oil, Blue Tansy, and Rosehip Oil, this kit tackles acne at its root—balancing hormones, unclogging pores, and restoring your skin barrier. Ditch harsh chemicals and embrace clean, effective skincare for a radiant, breakout-free complexion.">
<meta property="og:image" content="https://cdn.shopify.com/s/files/1/0003/4580/0755/files/blume_social.png?v=1689614710">
<meta property="og:image:secure_url" content="https://cdn.shopify.com/s/files/1/0003/4580/0755/files/blume_social.png?v=1689614710">



<meta property="og:image" content="https://cdn.shopify.com/s/files/1/0003/4580/0755/files/blume_social.png?v=1689614710">
<meta property="og:image:secure_url" content="https://cdn.shopify.com/s/files/1/0003/4580/0755/files/blume_social.png?v=1689614710">

<meta name="twitter:title" content=" Clear Skin Kit by Blume | Natural Acne Treatment">
<meta name="twitter:description" content="Achieve clearer, healthier skin with Blume’s Clear Skin Kit. Powered by natural ingredients like Black Cumin Seed Oil, Blue Tansy, and Rosehip Oil, this kit tackles acne at its root—balancing hormones, unclogging pores, and restoring your skin barrier. Ditch harsh chemicals and embrace clean, effective skincare for a radiant, breakout-free complexion.">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:image" content="https://cdn.shopify.com/s/files/1/0003/4580/0755/files/blume_social.png?v=1689614710">
<meta name="twitter:image:width" content="480">
<meta name="twitter:image:height" content="480">

    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-PNNFBNH9CH"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());
gtag('config', 'G-PNNFBNH9CH');
</script>

<script>
  window.theme = {
    strings: {
      addToCart: "Add to Cart",
      soldOut: "Sold Out",
      unavailable: "Unavailable"
    },
    moneyFormat: "\u003cspan class=money\u003e${{amount}}\u003c\/span\u003e"
  }
</script>
  
<meta id="shopify-digital-wallet" name="shopify-digital-wallet" content="/345800755/digital_wallets/dialog">
<meta name="shopify-checkout-api-token" content="11f54be91bf5c54d41ca3fb45e106aa7">
    

  <script async src="https://static.klaviyo.com/onsite/js/XQc7JN/klaviyo.js?company_id=XQc7JN"></script>
  <script async src="https://scripts.juniphq.com/v1/junip_shopify.js?shop=blume-box.myshopify.com"></script>  

<link href="https://monorail-edge.shopifysvc.com" rel="dns-prefetch">
<script>(function(){if ("sendBeacon" in navigator && "performance" in window) {var session_token = document.cookie.match(/_shopify_s=([^;]*)/);function handle_abandonment_event(e) {var entries = performance.getEntries().filter(function(entry) {return /monorail-edge.shopifysvc.com/.test(entry.name);});if (!window.abandonment_tracked && entries.length === 0) {window.abandonment_tracked = true;var currentMs = Date.now();var navigation_start = performance.timing.navigationStart;var payload = {shop_id: 345800755,url: window.location.href,navigation_start,duration: currentMs - navigation_start,session_token: session_token && session_token.length === 2 ? session_token[1] : "",page_type: "index"};window.navigator.sendBeacon("https://monorail-edge.shopifysvc.com/v1/produce", JSON.stringify({schema_id: "online_store_buyer_site_abandonment/1.1",payload: payload,metadata: {event_created_at_ms: currentMs,event_sent_at_ms: currentMs}}));}}window.addEventListener('pagehide', handle_abandonment_event);}}());</script>
<script id="web-pixels-manager-setup">(function d(d,e,n,o,r,i){if(!Boolean(null===(t=null===(a=window.Shopify)||void 0===a?void 0:a.analytics)||void 0===t?void 0:t.replayQueue)){var a,t,s=function(){var d={modern:/Edge?\/(1{2}[4-9]|1[2-9]\d|[2-9]\d{2}|\d{4,})\.\d+(\.\d+|)|Firefox\/(1{2}[4-9]|1[2-9]\d|[2-9]\d{2}|\d{4,})\.\d+(\.\d+|)|Chrom(ium|e)\/(9{2}|\d{3,})\.\d+(\.\d+|)|(Maci|X1{2}).+ Version\/(15\.\d+|(1[6-9]|[2-9]\d|\d{3,})\.\d+)([,.]\d+|)( \(\w+\)|)( Mobile\/\w+|) Safari\/|Chrome.+OPR\/(9{2}|\d{3,})\.\d+\.\d+|(CPU[ +]OS|iPhone[ +]OS|CPU[ +]iPhone|CPU IPhone OS|CPU iPad OS)[ +]+(15[._]\d+|(1[6-9]|[2-9]\d|\d{3,})[._]\d+)([._]\d+|)|Android:?[ /-](13[1-9]|1[4-9]\d|[2-9]\d{2}|\d{4,})(\.\d+|)(\.\d+|)|Android.+Firefox\/(13[2-9]|1[4-9]\d|[2-9]\d{2}|\d{4,})\.\d+(\.\d+|)|Android.+Chrom(ium|e)\/(13[1-9]|1[4-9]\d|[2-9]\d{2}|\d{4,})\.\d+(\.\d+|)|SamsungBrowser\/([2-9]\d|\d{3,})\.\d+/,legacy:/Edge?\/(1[6-9]|[2-9]\d|\d{3,})\.\d+(\.\d+|)|Firefox\/(5[4-9]|[6-9]\d|\d{3,})\.\d+(\.\d+|)|Chrom(ium|e)\/(5[1-9]|[6-9]\d|\d{3,})\.\d+(\.\d+|)([\d.]+$|.*Safari\/(?![\d.]+ Edge\/[\d.]+$))|(Maci|X1{2}).+ Version\/(10\.\d+|(1[1-9]|[2-9]\d|\d{3,})\.\d+)([,.]\d+|)( \(\w+\)|)( Mobile\/\w+|) Safari\/|Chrome.+OPR\/(3[89]|[4-9]\d|\d{3,})\.\d+\.\d+|(CPU[ +]OS|iPhone[ +]OS|CPU[ +]iPhone|CPU IPhone OS|CPU iPad OS)[ +]+(10[._]\d+|(1[1-9]|[2-9]\d|\d{3,})[._]\d+)([._]\d+|)|Android:?[ /-](13[1-9]|1[4-9]\d|[2-9]\d{2}|\d{4,})(\.\d+|)(\.\d+|)|Mobile Safari.+OPR\/([89]\d|\d{3,})\.\d+\.\d+|Android.+Firefox\/(13[2-9]|1[4-9]\d|[2-9]\d{2}|\d{4,})\.\d+(\.\d+|)|Android.+Chrom(ium|e)\/(13[1-9]|1[4-9]\d|[2-9]\d{2}|\d{4,})\.\d+(\.\d+|)|Android.+(UC? ?Browser|UCWEB|U3)[ /]?(15\.([5-9]|\d{2,})|(1[6-9]|[2-9]\d|\d{3,})\.\d+)\.\d+|SamsungBrowser\/(5\.\d+|([6-9]|\d{2,})\.\d+)|Android.+MQ{2}Browser\/(14(\.(9|\d{2,})|)|(1[5-9]|[2-9]\d|\d{3,})(\.\d+|))(\.\d+|)|K[Aa][Ii]OS\/(3\.\d+|([4-9]|\d{2,})\.\d+)(\.\d+|)/},e=d.modern,n=d.legacy,o=navigator.userAgent;return e.test(o)?"modern":(n.test(o),"legacy")}(),l=null!=i?i:{modern:"",legacy:""};window.Shopify=window.Shopify||{};var u=window.Shopify;u.analytics=u.analytics||{};var c=u.analytics;c.replayQueue=[],c.publish=function(d,e,n){return c.replayQueue.push([d,e,n]),!0};try{self.performance.mark("wpm:start")}catch(d){}var f=[n,"/wpm","/b",r,s.substring(0,1),".js"].join(""),h=l[s];!function(d){var e=d.src,n=d.async,o=void 0===n||n,r=d.onload,i=d.onerror,a=d.sri,t=document.createElement("script"),s=document.head,l=document.body;t.async=o,t.src=e,a&&(t.integrity=a,t.crossOrigin="anonymous"),r&&t.addEventListener("load",r),i&&t.addEventListener("error",i),s?s.appendChild(t):l?l.appendChild(t):console.error("Did not find a head or body element to append the script")}({src:f,async:!0,onload:function(){if(!function(){var d,e;return Boolean(null===(e=null===(d=window.Shopify)||void 0===d?void 0:d.analytics)||void 0===e?void 0:e.initialized)}()){var n=window.webPixelsManager.init(d)||void 0;if(n){e(n);var o=window.Shopify.analytics;o.replayQueue.forEach((function(d){var e=d[0],o=d[1],r=d[2];n.publishCustomEvent(e,o,r)})),o.replayQueue=[],o.publish=n.publishCustomEvent,o.visitor=n.visitor,o.initialized=!0}}},onerror:function(){var e=d.storefrontBaseUrl.replace(/\/$/,""),n="".concat(e,"/.well-known/shopify/monorail/unstable/produce_batch"),r=JSON.stringify({metadata:{event_sent_at_ms:(new Date).getTime()},events:[{schema_id:"web_pixels_manager_load/3.1",payload:{version:o||"latest",bundle_target:s,page_url:self.location.href,status:"failed",surface:d.surface,error_msg:"".concat(f," has failed to load")},metadata:{event_created_at_ms:(new Date).getTime()}}]});try{if(self.navigator.sendBeacon.bind(self.navigator)(n,r))return!0}catch(d){}var i=new XMLHttpRequest;try{return i.open("POST",n,!0),i.setRequestHeader("Content-Type","text/plain"),i.send(r),!0}catch(d){console&&console.warn&&console.warn("[Web Pixels Manager] Got an unhandled error while logging a load error.")}return!1},sri:function(d){return"string"==typeof d&&/^sha384-[A-Za-z0-9+/=]+$/.test(d)}(h)?h:""})}})({shopId: 345800755,storefrontBaseUrl: "https://www.blume.com",extensionsBaseUrl: "https://extensions.shopifycdn.com/cdn/shopifycloud/web-pixels-manager",surface: "storefront-renderer",enabledBetaFlags: ["6a396365"],webPixelsConfigList: [{"id":"761954497","configuration":"{\"shopId\":\"6915\"}","eventPayloadVersion":"v1","runtimeContext":"STRICT","scriptVersion":"4513e6d45e6369f1e98f8ce52954a436","type":"APP","apiClientId":2328352,"privacyPurposes":[]},{"id":"721879233","configuration":"{\"shopDomain\":\"blume-box.myshopify.com\"}","eventPayloadVersion":"v1","runtimeContext":"STRICT","scriptVersion":"a01d8b75b39dbf0992185217ed5a7cde","type":"APP","apiClientId":2436932,"privacyPurposes":["ANALYTICS","MARKETING","SALE_OF_DATA"]},{"id":"654999745","configuration":"{\"accountID\":\"1220658\",\"workspaceId\":\"a0824e24-b2a2-4d86-9973-4df39645c823\"}","eventPayloadVersion":"v1","runtimeContext":"STRICT","scriptVersion":"aeb7eae92aaa724ea7bddf3566dc0f49","type":"APP","apiClientId":5461967,"privacyPurposes":["ANALYTICS"]},{"id":"536707265","configuration":"{\"config\":\"{\\\"pixel_id\\\":\\\"G-PNNFBNH9CH\\\",\\\"target_country\\\":\\\"US\\\",\\\"gtag_events\\\":[{\\\"type\\\":\\\"search\\\",\\\"action_label\\\":[\\\"G-PNNFBNH9CH\\\",\\\"AW-452502113\\\/MhaPCM3qitAZEOHE4tcB\\\"]},{\\\"type\\\":\\\"begin_checkout\\\",\\\"action_label\\\":[\\\"G-PNNFBNH9CH\\\",\\\"AW-452502113\\\/UMoCCNPqitAZEOHE4tcB\\\"]},{\\\"type\\\":\\\"view_item\\\",\\\"action_label\\\":[\\\"G-PNNFBNH9CH\\\",\\\"AW-452502113\\\/BjaaCMrqitAZEOHE4tcB\\\",\\\"MC-FVVR2TR78T\\\"]},{\\\"type\\\":\\\"purchase\\\",\\\"action_label\\\":[\\\"G-PNNFBNH9CH\\\",\\\"AW-452502113\\\/_6j9CMTqitAZEOHE4tcB\\\",\\\"MC-FVVR2TR78T\\\"]},{\\\"type\\\":\\\"page_view\\\",\\\"action_label\\\":[\\\"G-PNNFBNH9CH\\\",\\\"AW-452502113\\\/N8P6CMfqitAZEOHE4tcB\\\",\\\"MC-FVVR2TR78T\\\"]},{\\\"type\\\":\\\"add_payment_info\\\",\\\"action_label\\\":[\\\"G-PNNFBNH9CH\\\",\\\"AW-452502113\\\/9z6RCNbqitAZEOHE4tcB\\\"]},{\\\"type\\\":\\\"add_to_cart\\\",\\\"action_label\\\":[\\\"G-PNNFBNH9CH\\\",\\\"AW-452502113\\\/Z4aOCNDqitAZEOHE4tcB\\\"]}],\\\"enable_monitoring_mode\\\":false}\"}","eventPayloadVersion":"v1","runtimeContext":"OPEN","scriptVersion":"bb488f4fe6500d2c9bba3ab22eaa32f2","type":"APP","apiClientId":1780363,"privacyPurposes":[]},{"id":"457277633","configuration":"{\"pixelCode\":\"CHDCOMRC77U5SGSF40U0\"}","eventPayloadVersion":"v1","runtimeContext":"STRICT","scriptVersion":"22e92c2ad45662f435e4801458fb78cc","type":"APP","apiClientId":4383523,"privacyPurposes":["ANALYTICS","MARKETING","SALE_OF_DATA"]},{"id":"424673473","configuration":"{\"pixel_id\":\"603494546464865\",\"pixel_type\":\"facebook_pixel\",\"metaapp_system_user_token\":\"-\"}","eventPayloadVersion":"v1","runtimeContext":"OPEN","scriptVersion":"8d894c63179843e74a9691414b5ad83d","type":"APP","apiClientId":2329312,"privacyPurposes":["ANALYTICS","MARKETING","SALE_OF_DATA"]},{"id":"128680129","configuration":"{\"octaneDomain\":\"https:\\\/\\\/app.octaneai.com\",\"botID\":\"jrp6xbwkyr9m6y1n\"}","eventPayloadVersion":"v1","runtimeContext":"STRICT","scriptVersion":"37dc318a6f11ffc666473a9a43d0e79b","type":"APP","apiClientId":2012438,"privacyPurposes":["ANALYTICS","MARKETING","SALE_OF_DATA"]},{"id":"28934337","configuration":"{\"measurementIds\":\"G-PNNFBNH9CH\"}","eventPayloadVersion":"v1","runtimeContext":"STRICT","scriptVersion":"7aaae93c56736e9df275e05ad7cdcadf","type":"APP","apiClientId":3542712321,"privacyPurposes":["ANALYTICS","MARKETING","SALE_OF_DATA"]},{"id":"25133249","configuration":"{ \"bundleName\": \"blume-box\" }","eventPayloadVersion":"v1","runtimeContext":"STRICT","scriptVersion":"f72e1fb5ee6259ad90b47945cc863751","type":"APP","apiClientId":5106349,"privacyPurposes":["ANALYTICS","MARKETING","SALE_OF_DATA"]},{"id":"12517569","configuration":"{\"myshopifyDomain\":\"blume-box.myshopify.com\"}","eventPayloadVersion":"v1","runtimeContext":"STRICT","scriptVersion":"e32653096b768840c4e834ea506d7953","type":"APP","apiClientId":2775569,"privacyPurposes":["ANALYTICS","MARKETING","SALE_OF_DATA"]},{"id":"16318657","eventPayloadVersion":"1","runtimeContext":"LAX","scriptVersion":"1","type":"CUSTOM","privacyPurposes":["ANALYTICS","MARKETING","SALE_OF_DATA"],"name":"Retention v2"},{"id":"41255105","eventPayloadVersion":"1","runtimeContext":"LAX","scriptVersion":"2","type":"CUSTOM","privacyPurposes":["ANALYTICS","MARKETING","SALE_OF_DATA"],"name":"GMC - Review optin - AMA"},{"id":"41320641","eventPayloadVersion":"1","runtimeContext":"LAX","scriptVersion":"1","type":"CUSTOM","privacyPurposes":["ANALYTICS","MARKETING","SALE_OF_DATA"],"name":"Gads - Conversion Track -AMA"},{"id":"48562369","eventPayloadVersion":"1","runtimeContext":"LAX","scriptVersion":"1","type":"CUSTOM","privacyPurposes":["ANALYTICS","MARKETING","SALE_OF_DATA"],"name":"Hue Checkout Tracking"},{"id":"shopify-app-pixel","configuration":"{}","eventPayloadVersion":"v1","runtimeContext":"STRICT","scriptVersion":"0290","apiClientId":"shopify-pixel","type":"APP","privacyPurposes":["ANALYTICS","MARKETING"]},{"id":"shopify-custom-pixel","eventPayloadVersion":"v1","runtimeContext":"LAX","scriptVersion":"0290","apiClientId":"shopify-pixel","type":"CUSTOM","privacyPurposes":["ANALYTICS","MARKETING"]}],isMerchantRequest: true,effectiveTopLevelDomain: "",initData: {"shop":{"name":"Blume","paymentSettings":{"currencyCode":"USD"},"myshopifyDomain":"blume-box.myshopify.com","countryCode":"US","storefrontUrl":"https:\/\/www.blume.com"},"customer":null,"cart":{"cost":{"totalAmount":{"amount":75.0,"currencyCode":"USD"}},"lines":[{"cost":{"totalAmount":{"amount":75.0,"currencyCode":"USD"}},"merchandise":{"price":{"amount":75.0,"currencyCode":"USD"},"product":{"title":"Clear Skin Kit: Acne Essentials","vendor":"Blume","id":"10191511847105","untranslatedTitle":"Clear Skin Kit: Acne Essentials","url":"\/products\/clear-skin-kit-3","type":"Bundle"},"id":"47735084024001","image":{"src":"\/\/www.blume.com\/cdn\/shop\/files\/PDPImages-BlueGradients_0c6fcca4-d96a-495e-b051-bad118291e08.png?v=1737144010"},"sku":"60077","title":"Default Title","untranslatedTitle":"Default Title"},"quantity":1}],"totalQuantity":1,"attributes":[],"id":"Z2NwLWFzaWEtc291dGhlYXN0MTowMUpIRjg0RVRaMko4M1JGQVRXTjc4MlNCUA"},"checkout":null,"productVariants":[],"purchasingCompany":null},},function pageEvents(webPixelsManagerAPI) {webPixelsManagerAPI.publish("page_viewed", {});},"https://www.blume.com/cdn","f4a0b6b031a33224967f780c4afc306d0abf6547","d996b560w734f31f6pceb6670bm452f95e0",{"modern":"","legacy":""});</script>  <script>window.ShopifyAnalytics = window.ShopifyAnalytics || {};
window.ShopifyAnalytics.meta = window.ShopifyAnalytics.meta || {};
window.ShopifyAnalytics.meta.currency = 'USD';
var meta = {"page":{"pageType":"home"}};
for (var attr in meta) {
  window.ShopifyAnalytics.meta[attr] = meta[attr];
}</script>
<script>window.ShopifyAnalytics.merchantGoogleAnalytics = function() {
  
};
</script>
    
  <span
  class="junip-store-key"
  data-store-key="QuZHg4BHv7KsJSLS7UPGYGrS"
  data-onsite-enabled="true"
  data-review-count-enabled="true"
  data-star-color="#001e42">
</span>
<script
  defer
  src="https://www.blume.com/cdn/shopifycloud/perf-kit/shopify-perf-kit-1.4.0.min.js"
  data-application="storefront-renderer"
  data-shop-id="345800755"
  data-render-region="gcp-us-central1"
  data-page-type="index"
  data-theme-instance-id="168184119489"
  data-monorail-region="shop_domain"
  data-resource-timing-sampling-rate="10"
></script>
    
    <!-- Facebook Pixel Code -->
<script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '603494546464865');
  fbq('track', 'PageView');
</script>
<noscript>
  <img height="1" width="1" style="display:none" 
       src="https://www.facebook.com/tr?id=603494546464865&ev=PageView&noscript=1"/>
</noscript>
<!-- End Facebook Pixel Code -->
</head>
  <body id="blume-make-every-day-a-healthy-skin-day" class="">
 
    <!-- Google Tag Manager (noscript) -->
    <noscript>
      <iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-TMQ8XSD"
        height="0"
        width="0"
        style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    
    
    <div
      id="replo-fullpage-element"
      data-runtime-version="e3bd84e0-f3a0-11ef-9a47-ad9307562c3e"
      style="display: block !important"
    >
      {% include "reploChunk.ca2c7b9c-412a-4306-97c4-8d6e6f5e62b1.0" %}{% include "reploChunk.ca2c7b9c-412a-4306-97c4-8d6e6f5e62b1.1" %}{% include "reploChunk.ca2c7b9c-412a-4306-97c4-8d6e6f5e62b1.2" %}
    </div>


    
<!-- Microsoft Clarity -->
  <script type="text/javascript">
    (function(c,l,a,r,i,t,y){
    c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
    t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
    y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
    })(window, document, "clarity", "script", "m5veszw9qz");
  </script>
  <!-- Microsoft Clarity -->   
       <!-- Google Tag Manager -->
    <script>
      (function(w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({'gtm.start': new Date().getTime(), event: 'gtm.js'});
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != 'dataLayer'
            ? '&l=' + l
            : '';
        j.async = true;
        j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, 'script', 'dataLayer', 'GTM-TMQ8XSD');
    </script>
    <!-- End Google Tag Manager -->

</body>
</html>