{% comment %}<div class='abs top header__logo z1'>
 <a href=" {{ shop.url }}"> {% include 'blume-logo' %}</a>
</div>{% endcomment %}

<div class='bg-lp px2 rel o-h'>
  <div class='container--xlx mha pm60x pl100x page__headerx ac rel z2'>
    <h1 class='caps outline cb'>{{ page.title }}</h1>
  </div>
 
</div>
<div class="bg-wx">
  <div class='container--lx mha px2 pm60x ac'>
    {{ page.content }}
  </div>
</div>
