<div class='o-h' data-module='animateIn'>
  {% section 'how-hero' %}
  {% section 'how-stats' %}
  {% section 'how-products' %}
  {% section 'how-safe' %}
  {% section 'give-back' %}
  {% section 'box-flow' %}
</div>