{% comment %}{{ page.content }}{% endcomment %}

<div class="quiz_ama_wrap">
  <div data-desktop-height="match_browser" data-mobile-height="match_browser" data-embed-type="fullpage" data-quiz-id="YDagMMTSgNjECi8P" class="octane-ai-quiz"></div>
<script src="https://app.octaneai.com/jrp6xbwkyr9m6y1n/quiz.js" async="" defer=""></script>
</div>
 <style>
   .quiz_ama_wrap {padding: 75px 0;}
 </style>